@charset "UTF-8";
button.popoverButton {
  background: transparent;
  line-height: unset;
  border: 1px solid gray;
  border-radius: 100%;
  margin: 0;
}

div.popoverContainer {
  display: none;
  position: relative;
}
div.popoverContainer > .popover {
  position: absolute;
  top: 24px;
  left: -40px;
  background: #faf2ec;
  padding: 16px;
  border: 1px solid black;
  border-radius: 6px;
  z-index: 100;
}

/* Styles that apply everywhere */
.characterviewer label,
.characterviewer .label {
  display: inline-block;
  margin: 0;
  text-align: right;
  vertical-align: middle;
  font-size: 1em;
  font-weight: normal;
}

.characterviewer .charsheet {
  padding: 0;
  padding-top: 10px;
}

input[type=text] {
  padding: 1px 4px 1px 4px;
  height: 22px;
}

input[type=number] {
  padding: 1px 0px 1px 3px;
  text-align: center;
  height: 22px;
}

[data-groupname] button:not([type=roll]) {
  padding: 3px 8px 3px 8px;
  margin-top: 3px;
}

select {
  padding: 1px 4px 1px 4px;
  height: 22px;
  margin-bottom: 0px;
  text-align: center;
  text-align-last: center;
}

button.actionRollButton {
  padding: 2px 3px;
  font-size: 1.3em;
  margin: 0 3px;
  border-width: 1px;
}

/* Change the character for dice roll buttons to be
   the two joined squares character and add styles */
button.btn.ui-draggable[type=roll],
button.actionRollButton {
  font-weight: bold;
  outline: 1px solid #666;
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(90deg, rgb(245, 201, 162), #c2815b);
}

button.btn.ui-draggable[type=roll]::before,
button.actionRollButton::before {
  font-family: sans-serif;
  content: "⧉";
}

/* Change the character for the do and roll dice button to be
   a big heavy two joined squares character */
button.do-and-roll::before {
  font-family: sans-serif;
  content: "⧉";
  font-size: 200%;
  font-weight: bold;
}

/* Change the character for do buttons to be
   the play forward character */
button.do::before {
  font-family: sans-serif;
  content: "▶";
}

button.do,
button.do-and-roll {
  font-weight: bold;
  outline: 1px solid #666;
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(90deg, rgb(245, 201, 162), #c2815b);
}

button.do {
  width: 18px;
}

button.big-control.do-and-roll {
  width: 20px;
}

.disable-do[value="1"] ~ .do {
  background-image: linear-gradient(90deg, #ddd, #ddd);
  pointer-events: none;
}

.disable-do-and-roll[value="1"] ~ .do-and-roll {
  background-image: linear-gradient(90deg, #ddd, #ddd);
  pointer-events: none;
}

/* Change the character for undo buttons to be
   the play backward character */
button.undo::before {
  font-family: sans-serif;
  content: "◀";
}

button.undo {
  font-weight: bold;
  outline: 1px solid #666;
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(90deg, #c2945b, rgb(138, 103, 103));
  line-height: 1;
  padding: 1px 1px;
}

button.reset-total {
  font-weight: bold;
  outline: 1px solid #666;
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(90deg, rgb(245, 201, 162), #c2815b);
  line-height: 1;
  padding: 2px;
  vertical-align: middle;
}

button.convert-button {
  font-weight: bold;
  outline: 1px solid #666;
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(180deg, rgb(245, 201, 162), #c2815b);
  padding: 0px 2px 4px 2px;
  vertical-align: middle;
  font-size: 200%;
}

/* Generic styles */
.ui-dialog {
  background-color: #c4bdaf;
  background-size: cover;
  background-image: url(https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/images/background.png);
}
.ui-dialog .dialog, .ui-dialog .largedialog {
  padding: 0 16px;
  padding-bottom: 16px;
}

.invisible {
  display: none;
}

.inline {
  display: inline-block;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.middle {
  vertical-align: middle;
}

.full-width {
  width: 100%;
}

.narrow.narrow.narrow {
  width: 25px;
}

.modifier-width.modifier-width.modifier-width {
  width: 35px;
}

.narrowish.narrowish.narrowish {
  width: 40px;
}

.medium.medium.medium {
  width: 50px;
}

.wideish.wideish.wideish {
  width: 60px;
}

.wide.wide.wide.wide {
  width: 90px;
}

.wider.wider.wider {
  width: 150px;
}

.narrow-spacing {
  line-height: 1;
}

.spacer {
  height: 16px;
}

.small-spacer {
  height: 8px;
}

.inlne-spacer {
  width: 8px;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.flex-gap {
  gap: 16px;
}

.horizontal-flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.align-center.align-center.align-center {
  align-items: center;
}

.flexing {
  flex-grow: 1;
}

.no-shrink {
  flex-shrink: 0;
}

.big.big.big.big {
  font-size: 150%;
  font-weight: normal;
}

.biggish.biggish.biggish.biggish {
  font-size: 130%;
  font-weight: normal;
}

.larger.larger.larger.larger {
  font-size: 110%;
}

.CP.CP.CP.CP {
  color: blue;
}

.TP.TP.TP.TP {
  color: #267200;
}

.bold {
  font-weight: bold;
}

.number.ability {
  font-weight: bold;
}

.children-separated > :not(:first-child) {
  border: solid #b56632;
  border-width: 1px 0px 0px 0px;
}

.label {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

.value {
  display: inline-block;
  box-sizing: border-box;
}

.attribute-name {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

.attribute-value {
  font-size: 150%;
  vertical-align: middle;
  margin: 1px;
  border-width: 1px;
  padding: 0px;
  box-sizing: border-box;
}

/* Make the height override the box's usual height */
input.attribute-value.attribute-value.attribute-value {
  height: 24px;
}

span.attribute-value {
  /* Make the height work for span. */
  display: inline-block;
  border-color: transparent;
}

input, textarea, select {
  background-color: #faf2ec;
}

input[disabled],
input[readonly] {
  border-color: transparent;
  background-color: transparent;
  padding: 0px;
}

.flex-stack {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
}

.align-middle.align-middle.align-middle {
  align-items: middle;
}

.space-between {
  justify-content: space-between;
}

.text-stack {
  display: inline-block;
  vertical-align: middle;
}

.table-header > div {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border-color: black;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 2px;
}

.characterviewer textarea {
  box-sizing: border-box;
  height: 48px;
  overflow-y: auto;
  text-align: left;
}

/* ---------- Roll section ------------- */
.roll-section {
  display: flex;
  /* Get rid of the space the sheet puts above us. */
  margin-top: -26px;
}

.roll-select-section {
  display: inline-flex;
  flex-direction: row;
}

.save-roll {
  font-size: 14px;
  line-height: 15px;
  width: 15px;
  overflow-x: visible;
  padding: 1px 2px;
  border-width: 1px;
  border-radius: 3px;
  background-color: #faf2ec;
}

input.saved-roll {
  height: 8px;
}

.save-radio-row {
  display: flex;
  flex-direction: row;
}

.save-pending[value="1"] ~ .save-roll {
  border-color: #FFBF00;
  box-shadow: 3px 3px 3px #FFBF00;
}

.save-pending[value="1"] ~ .save-radio-stack .radio {
  border-color: #FFBF00;
  background: #E8E8E8;
  box-shadow: 3px 3px 3px #FFBF00;
}

.roll-chosen[value="1"] ~ .save-radio-row > button.roll-1,
.roll-chosen[value="2"] ~ .save-radio-row > button.roll-2,
.roll-chosen[value="3"] ~ .save-radio-row > button.roll-3,
.roll-chosen[value="4"] ~ .save-radio-row > button.roll-4,
.roll-chosen[value="5"] ~ .save-radio-row > button.roll-5,
.roll-chosen[value="6"] ~ .save-radio-row > button.roll-6 {
  background-color: #faf2ec;
  border-color: black;
}

/* Configure the radio button styling. */
.radio {
  padding: 0;
  margin: 2px;
  border: solid 1px #a8a8a8;
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.save-radio-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

radio > span.checked {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: buttontext;
}

.roll-description-section {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
}

.roll-description-line {
  display: flex;
  align-items: baseline;
}

.roll-description-line label {
  width: unset;
  margin: 0;
  padding-right: 8px;
  font-weight: normal;
}

.roll-description-line input + label {
  padding-left: 8px;
}

/* --------- Top section ----------------- */
.top-section {
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  margin-bottom: 6px;
  background: linear-gradient(to top, rgba(194, 148, 91, 0.5019607843) 0%, transparent 100%);
}

.sectioncontrol[value=weightPenalties] ~ div.popoverContainer.weightPenalties {
  display: inline;
}

/* ------ generic conditional appearance ------ */
.conditional-one > * {
  display: none;
}

.conditional-one > :first-child[value="1"] ~ * {
  display: inline-block;
}

.conditional-something > * {
  display: inline-block;
}

.conditional-something > :first-child[value=" "] ~ * {
  display: none;
}

.no-add-or-modify-buttons [data-groupname] button:not([type=roll]) {
  display: none;
}

/* ----------- Tabs and what they control  ------------- */
/* Attributes */
.attributecontrol[value=basic] ~ span.attribute-value,
.attributecontrol[value=basic] ~ button.reset-total,
.attributecontrol[value=basic] ~ .attribute-roll,
.attributecontrol[value=basic] ~ .not-basic-tab,
.cpcontrol[value=basic] ~ .not-basic-tab {
  display: none;
}

.attributecontrol:not([value=basic]) ~ input.attribute-value,
.attributecontrol:not([value=basic]) ~ button.reset-total .attributecontrol:not([value=basic]) ~ .CP,
.attributecontrol:not([value=basic]) ~ .basic-tab-only,
.cpcontrol:not([value=basic]) ~ .basic-tab-only {
  display: none;
}

/* Tabs */
.characterviewer .nav-tabs > li:not(.active) {
  background: #faf2ec;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.characterviewer .nav-tabs > li:not(.active) > a:hover,
.characterviewer .nav-tabs > li:not(.active) > a:focus {
  color: black;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.characterviewer .nav-tabs > .active > a {
  font-weight: bold;
  text-decoration: none;
  background-color: #b56632;
  color: #faf2ec;
}

.tab-holder {
  margin-bottom: -1px;
}

.tab {
  border: 1px solid #999;
  background: #faf2ec;
  padding: 4px 4px;
  border-radius: 4px 4px 0 0;
  font-size: 110%;
}

.tabcontrol[value=overview] ~ .tab[name=act_overview],
.tabcontrol[value=basic] ~ .tab[name=act_basic],
.tabcontrol[value=equipment] ~ .tab[name=act_equipment],
.tabcontrol[value=skills] ~ .tab[name=act_skills],
.tabcontrol[value=spells] ~ .tab[name=act_spells],
.tabcontrol[value=notes] ~ .tab[name=act_notes] {
  font-weight: bold;
  text-decoration: none;
  background-color: #b56632;
  color: #faf2ec;
  border-bottom: 1px solid transparent;
}

/* Sections */
.section {
  display: none;
}

.sectioncontrol[value=overview] ~ div.overview,
.sectioncontrol[value=basic] ~ div.basic,
.sectioncontrol[value=equipment] ~ div.equipment,
.sectioncontrol[value=skills] ~ div.skills,
.sectioncontrol[value=spells] ~ div.spells,
.sectioncontrol[value=notes] ~ div.notes {
  display: block;
}

/* Weight penalties */
.weight-penalty-table {
  border: solid black;
  border-width: 1px 0px;
}

.weight-penalty-table > div {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.weight-penalty-table > div:not(:last-child):not(.table-header) {
  border-bottom: solid #b56632 1px;
}

.weight-penalty-table > div > :nth-child(2) {
  display: inline-block;
  width: 30px;
}

.weight-penalty-table > div > :last-child {
  display: inline-block;
  width: 30px;
}

.weight-penalty-table > div > :first-child[value="1"] ~ * {
  font-weight: bold;
  padding: 2px 0px;
}

/* ---------- Overview tab ------------- */
.advantage-overview {
  display: flex;
  flex-direction: column;
}

.advantage-overview > div.table-header > div {
  text-align: center;
}

.advantage-overview > div.conditional-something > div,
.advantage-overview > div[data-groupname] > div {
  border: solid #b56632;
  border-width: 0px 0px 1px 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.advantage-overview > .conditional-something > :first-child[value="-1"] ~ * {
  color: red;
}

/* If the name wraps, make the lines close. */
.advantage-overview > div > div,
.advantage-overview span {
  line-height: 1;
  width: 120px;
  text-align: left;
}

/* Keep line height low for the containers of the names,
   or they will make single lines too tall. */
.advantage-overview > div.conditional-something {
  line-height: 1;
}

/* ------------ Weapons Overview -------------- */
.weapons-overview .table-header {
  display: flex;
  flex-direction: row;
}
.weapons-overview .table-header div {
  text-align: center;
}
.weapons-overview .weapons-overview-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.weapons-overview div[data-groupname] .equipmentname {
  text-align: right;
}
.weapons-overview .table-header span, .weapons-overview div[data-groupname] span {
  display: inline-block;
}
.weapons-overview .table-header > div, .weapons-overview div[data-groupname] > div {
  border-width: 0px 0px 1px 0px;
  border-color: #b56632;
  border-style: solid;
  margin-bottom: 2px;
}
.weapons-overview .table-header .equipmentname, .weapons-overview div[data-groupname] .equipmentname {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 4px;
  flex: 0 0 100px;
  width: 100px;
}
.weapons-overview .table-header .equipmentdamage, .weapons-overview div[data-groupname] .equipmentdamage {
  width: 60px;
  text-align: center;
}
.weapons-overview .table-header .equipmentrange, .weapons-overview div[data-groupname] .equipmentrange {
  width: 50px;
  text-align: center;
}
.weapons-overview .table-header .equipmentnotes, .weapons-overview div[data-groupname] .equipmentnotes {
  margin-left: 90px;
  margin-bottom: 2px;
  width: 150px;
  line-height: 1;
  flex: 1 1;
}

/* ------------ Skills Overview -------------- */
.skills-overview .table-header {
  display: flex;
  flex-direction: row;
}
.skills-overview .table-header div {
  text-align: center;
}
.skills-overview .skill-overview-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 0px 0px 1px 0px;
  border-color: #b56632;
  border-style: solid;
}
.skills-overview .isdiscipline[value="1"] ~ * {
  display: none;
}
.skills-overview div[data-groupname] .skillname {
  text-align: right;
  margin-right: 4px;
}
.skills-overview div[data-groupname] .skillability {
  margin-left: -4px;
  margin-right: -4px;
}
.skills-overview .table-header span, .skills-overview div[data-groupname] span {
  display: inline-block;
}
.skills-overview .table-header > div, .skills-overview div[data-groupname] > div {
  margin-bottom: 2px;
}
.skills-overview .table-header .skillname, .skills-overview div[data-groupname] .skillname {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  flex: 0 0 100px;
  width: 100px;
}
.skills-overview .table-header .skillability, .skills-overview div[data-groupname] .skillability {
  font-weight: normal;
  border-color: transparent;
  width: 40px;
  text-align: center;
}
.skills-overview .table-header .skillbase.skillbase, .skills-overview div[data-groupname] .skillbase.skillbase {
  width: 40px;
}
.skills-overview .table-header .skill-roll.skill-roll, .skills-overview div[data-groupname] .skill-roll.skill-roll {
  padding: 0px 2px;
  width: 24px;
  box-sizing: border-box;
  margin-left: 3px;
  margin-right: 3px;
}

/* --------- Advantages ------------ */
.basic-tab .advantages .epic-table-header-grid.advantage {
  display: grid;
  grid-template-columns: minmax(0, 192px) minmax(0, 48px) minmax(0, 32px);
  column-gap: 2px;
  background: #b56632;
  color: #fff;
  padding: 2px;
}
.basic-tab .advantages .epic-table-header-grid.advantage > div {
  text-align: center;
  margin: auto;
  font-weight: bold;
  width: 100%;
}
.basic-tab .advantages div[data-groupname=repeating_advantage] > div,
.basic-tab .advantages div[data-epic-table-name=advantage] {
  display: grid;
  grid-template-columns: minmax(0, 192px) minmax(0, 48px) minmax(0, 32px);
  row-gap: 0;
  column-gap: 2px;
  background: transparent;
}
.basic-tab .advantages div[data-groupname=repeating_advantage] > div input, .basic-tab .advantages div[data-groupname=repeating_advantage] > div input[type=number], .basic-tab .advantages div[data-groupname=repeating_advantage] > div textarea, .basic-tab .advantages div[data-groupname=repeating_advantage] > div select,
.basic-tab .advantages div[data-epic-table-name=advantage] input,
.basic-tab .advantages div[data-epic-table-name=advantage] input[type=number],
.basic-tab .advantages div[data-epic-table-name=advantage] textarea,
.basic-tab .advantages div[data-epic-table-name=advantage] select {
  width: 100% !important;
  margin-left: unset;
  height: auto;
  background-color: #faf2ec;
}
.basic-tab .advantages div[data-groupname=repeating_advantage] > div input[type=text],
.basic-tab .advantages div[data-epic-table-name=advantage] input[type=text] {
  text-align: left;
}
.basic-tab .advantages div[data-groupname=repeating_advantage] > div input, .basic-tab .advantages div[data-groupname=repeating_advantage] > div span, .basic-tab .advantages div[data-groupname=repeating_advantage] > div select,
.basic-tab .advantages div[data-epic-table-name=advantage] input,
.basic-tab .advantages div[data-epic-table-name=advantage] span,
.basic-tab .advantages div[data-epic-table-name=advantage] select {
  white-space: nowrap;
}
.basic-tab .advantages div[data-groupname=repeating_advantage] > div span,
.basic-tab .advantages div[data-epic-table-name=advantage] span {
  text-align: center;
  margin: auto 0;
}
.basic-tab .advantages div[data-groupname=repeating_advantage] > div button, .basic-tab .advantages div[data-groupname=repeating_advantage] > div button[type=roll],
.basic-tab .advantages div[data-epic-table-name=advantage] button,
.basic-tab .advantages div[data-epic-table-name=advantage] button[type=roll] {
  margin: 0;
}
.basic-tab .advantages div[data-groupname=repeating_advantage] > div .epic-table-row.conditional-one,
.basic-tab .advantages div[data-epic-table-name=advantage] .epic-table-row.conditional-one {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
}
.basic-tab .advantages .epic-table-header-grid.extraadvantage {
  display: grid;
  grid-template-columns: minmax(0, 192px) minmax(0, 48px) minmax(0, 32px);
  column-gap: 2px;
  background: #b56632;
  color: #fff;
  padding: 2px;
}
.basic-tab .advantages .epic-table-header-grid.extraadvantage > div {
  text-align: center;
  margin: auto;
  font-weight: bold;
  width: 100%;
}
.basic-tab .advantages div[data-groupname=repeating_extraadvantage] > div,
.basic-tab .advantages div[data-epic-table-name=extraadvantage] {
  display: grid;
  grid-template-columns: minmax(0, 192px) minmax(0, 48px) minmax(0, 32px);
  row-gap: 0;
  column-gap: 2px;
  background: transparent;
}
.basic-tab .advantages div[data-groupname=repeating_extraadvantage] > div input, .basic-tab .advantages div[data-groupname=repeating_extraadvantage] > div input[type=number], .basic-tab .advantages div[data-groupname=repeating_extraadvantage] > div textarea, .basic-tab .advantages div[data-groupname=repeating_extraadvantage] > div select,
.basic-tab .advantages div[data-epic-table-name=extraadvantage] input,
.basic-tab .advantages div[data-epic-table-name=extraadvantage] input[type=number],
.basic-tab .advantages div[data-epic-table-name=extraadvantage] textarea,
.basic-tab .advantages div[data-epic-table-name=extraadvantage] select {
  width: 100% !important;
  margin-left: unset;
  height: auto;
  background-color: #faf2ec;
}
.basic-tab .advantages div[data-groupname=repeating_extraadvantage] > div input[type=text],
.basic-tab .advantages div[data-epic-table-name=extraadvantage] input[type=text] {
  text-align: left;
}
.basic-tab .advantages div[data-groupname=repeating_extraadvantage] > div input, .basic-tab .advantages div[data-groupname=repeating_extraadvantage] > div span, .basic-tab .advantages div[data-groupname=repeating_extraadvantage] > div select,
.basic-tab .advantages div[data-epic-table-name=extraadvantage] input,
.basic-tab .advantages div[data-epic-table-name=extraadvantage] span,
.basic-tab .advantages div[data-epic-table-name=extraadvantage] select {
  white-space: nowrap;
}
.basic-tab .advantages div[data-groupname=repeating_extraadvantage] > div span,
.basic-tab .advantages div[data-epic-table-name=extraadvantage] span {
  text-align: center;
  margin: auto 0;
}
.basic-tab .advantages div[data-groupname=repeating_extraadvantage] > div button, .basic-tab .advantages div[data-groupname=repeating_extraadvantage] > div button[type=roll],
.basic-tab .advantages div[data-epic-table-name=extraadvantage] button,
.basic-tab .advantages div[data-epic-table-name=extraadvantage] button[type=roll] {
  margin: 0;
}
.basic-tab .advantages div[data-groupname=repeating_extraadvantage] > div .epic-table-row.conditional-one,
.basic-tab .advantages div[data-epic-table-name=extraadvantage] .epic-table-row.conditional-one {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
}
.basic-tab .advantages .advantage-grid, .basic-tab .advantages .extraadvantagename-grid {
  text-align: right !important;
  font-weight: bold;
  margin-right: 8px !important;
}
.basic-tab .advantages .count-placeholder-grid {
  height: 100%;
  width: 100%;
}
.basic-tab .advantages .skillTP-grid, .basic-tab .advantages .TP-grid {
  color: #267200;
  font-weight: bold;
}
.basic-tab .advantages .skillCP-grid, .basic-tab .advantages .CP-grid {
  color: blue;
  font-weight: bold;
}
.basic-tab .advantages .epic-table-header-grid .skillTP-grid, .basic-tab .advantages .epic-table-header-grid .TP-grid {
  color: #51f200;
}
.basic-tab .advantages .epic-table-header-grid .skillCP-grid, .basic-tab .advantages .epic-table-header-grid .CP-grid {
  color: #000099;
}
.basic-tab .feats .epic-table-header-grid.feat {
  display: grid;
  grid-template-columns: minmax(0, 24px) minmax(0, 192px) minmax(0, 48px);
  column-gap: 2px;
  background: #b56632;
  color: #fff;
  padding: 2px;
}
.basic-tab .feats .epic-table-header-grid.feat > div {
  text-align: center;
  margin: auto;
  font-weight: bold;
  width: 100%;
}
.basic-tab .feats div[data-groupname=repeating_feat] > div,
.basic-tab .feats div[data-epic-table-name=feat] {
  display: grid;
  grid-template-columns: minmax(0, 24px) minmax(0, 192px) minmax(0, 48px);
  row-gap: 0;
  column-gap: 2px;
  background: transparent;
}
.basic-tab .feats div[data-groupname=repeating_feat] > div input, .basic-tab .feats div[data-groupname=repeating_feat] > div input[type=number], .basic-tab .feats div[data-groupname=repeating_feat] > div textarea, .basic-tab .feats div[data-groupname=repeating_feat] > div select,
.basic-tab .feats div[data-epic-table-name=feat] input,
.basic-tab .feats div[data-epic-table-name=feat] input[type=number],
.basic-tab .feats div[data-epic-table-name=feat] textarea,
.basic-tab .feats div[data-epic-table-name=feat] select {
  width: 100% !important;
  margin-left: unset;
  height: auto;
  background-color: #faf2ec;
}
.basic-tab .feats div[data-groupname=repeating_feat] > div input[type=text],
.basic-tab .feats div[data-epic-table-name=feat] input[type=text] {
  text-align: left;
}
.basic-tab .feats div[data-groupname=repeating_feat] > div input, .basic-tab .feats div[data-groupname=repeating_feat] > div span, .basic-tab .feats div[data-groupname=repeating_feat] > div select,
.basic-tab .feats div[data-epic-table-name=feat] input,
.basic-tab .feats div[data-epic-table-name=feat] span,
.basic-tab .feats div[data-epic-table-name=feat] select {
  white-space: nowrap;
}
.basic-tab .feats div[data-groupname=repeating_feat] > div span,
.basic-tab .feats div[data-epic-table-name=feat] span {
  text-align: center;
  margin: auto 0;
}
.basic-tab .feats div[data-groupname=repeating_feat] > div button, .basic-tab .feats div[data-groupname=repeating_feat] > div button[type=roll],
.basic-tab .feats div[data-epic-table-name=feat] button,
.basic-tab .feats div[data-epic-table-name=feat] button[type=roll] {
  margin: 0;
}
.basic-tab .feats div[data-groupname=repeating_feat] > div .epic-table-row.conditional-one,
.basic-tab .feats div[data-epic-table-name=feat] .epic-table-row.conditional-one {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
}
.basic-tab .feats input.featname-grid {
  text-align: right !important;
}
.basic-tab .feats .skillTP-grid, .basic-tab .feats .TP-grid {
  color: #267200;
  font-weight: bold;
}
.basic-tab .feats .skillCP-grid, .basic-tab .feats .CP-grid {
  color: blue;
  font-weight: bold;
}
.basic-tab .feats .epic-table-header-grid .skillTP-grid, .basic-tab .feats .epic-table-header-grid .TP-grid {
  color: #51f200;
}
.basic-tab .feats .epic-table-header-grid .skillCP-grid, .basic-tab .feats .epic-table-header-grid .CP-grid {
  color: #000099;
}

/* ---------------- Epic Feats --------------- */
.feat-overview {
  display: inline-flex;
  flex-direction: column;
}

/* Add back margin for line spacing. 
   And avoid gaps between items in the row */
.feat-overview > div[data-groupname] > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  border: solid #b56632;
  border-width: 0px 0px 1px 0px;
}

div.featextraordinaryletter {
  width: 24px;
  margin-left: -2px;
  margin-right: -2px;
  font-weight: normal;
  border-color: transparent;
}

span.featextraordinaryletter {
  display: inline-block;
  width: 20px;
  text-align: center;
  font-weight: bold;
}

.feat-overview > .table-header > div.featname {
  width: 120px;
  margin-left: -2px;
}

/* Make multi-line names have less spacing */
.feat-overview span.featname {
  width: 120px;
  text-align: left;
  line-height: 1;
}

.featname {
  display: inline-block;
  width: 180px;
  text-align: right;
}

input.featname {
  margin-left: 3px;
  margin-top: -1px;
}

input.featextraordinary {
  width: 18px;
  margin-left: 4px;
  margin-top: -1px;
}

.featCP.featCP.featCP.featCP {
  width: 30px;
  color: blue;
}

input.featCP {
  margin-top: -1px;
}

/* -------- Skills --------- */
.epic-skills-tab .epic-table-header-grid.skill {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 5fr) minmax(0, 1fr) minmax(0, 0.5fr) minmax(0, 0.5fr) minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
  column-gap: 2px;
  background: #b56632;
  color: #fff;
  padding: 2px;
}
.epic-skills-tab .epic-table-header-grid.skill > div {
  text-align: center;
  margin: auto;
  font-weight: bold;
  width: 100%;
}
.epic-skills-tab div[data-groupname=repeating_skill] > div,
.epic-skills-tab div[data-epic-table-name=skill] {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 5fr) minmax(0, 1fr) minmax(0, 0.5fr) minmax(0, 0.5fr) minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
  row-gap: 0;
  column-gap: 2px;
  background: transparent;
}
.epic-skills-tab div[data-groupname=repeating_skill] > div input, .epic-skills-tab div[data-groupname=repeating_skill] > div input[type=number], .epic-skills-tab div[data-groupname=repeating_skill] > div textarea, .epic-skills-tab div[data-groupname=repeating_skill] > div select,
.epic-skills-tab div[data-epic-table-name=skill] input,
.epic-skills-tab div[data-epic-table-name=skill] input[type=number],
.epic-skills-tab div[data-epic-table-name=skill] textarea,
.epic-skills-tab div[data-epic-table-name=skill] select {
  width: 100% !important;
  margin-left: unset;
  height: auto;
  background-color: #faf2ec;
}
.epic-skills-tab div[data-groupname=repeating_skill] > div input[type=text],
.epic-skills-tab div[data-epic-table-name=skill] input[type=text] {
  text-align: left;
}
.epic-skills-tab div[data-groupname=repeating_skill] > div input, .epic-skills-tab div[data-groupname=repeating_skill] > div span, .epic-skills-tab div[data-groupname=repeating_skill] > div select,
.epic-skills-tab div[data-epic-table-name=skill] input,
.epic-skills-tab div[data-epic-table-name=skill] span,
.epic-skills-tab div[data-epic-table-name=skill] select {
  white-space: nowrap;
}
.epic-skills-tab div[data-groupname=repeating_skill] > div span,
.epic-skills-tab div[data-epic-table-name=skill] span {
  text-align: center;
  margin: auto 0;
}
.epic-skills-tab div[data-groupname=repeating_skill] > div button, .epic-skills-tab div[data-groupname=repeating_skill] > div button[type=roll],
.epic-skills-tab div[data-epic-table-name=skill] button,
.epic-skills-tab div[data-epic-table-name=skill] button[type=roll] {
  margin: 0;
}
.epic-skills-tab div[data-groupname=repeating_skill] > div .epic-table-row.conditional-one,
.epic-skills-tab div[data-epic-table-name=skill] .epic-table-row.conditional-one {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 9;
}
.epic-skills-tab .isdiscipline-grid[value="1"] ~ .skillname-grid {
  font-weight: bold;
}
.epic-skills-tab .isdiscipline-grid[value="1"] ~ .skillability-grid,
.epic-skills-tab .isdiscipline-grid[value="1"] ~ .skillattribute-grid,
.epic-skills-tab .isdiscipline-grid[value="1"] ~ .skillbase-grid {
  opacity: 0;
}
.epic-skills-tab .skillTP-grid, .epic-skills-tab .TP-grid {
  color: #267200;
  font-weight: bold;
}
.epic-skills-tab .skillCP-grid, .epic-skills-tab .CP-grid {
  color: blue;
  font-weight: bold;
}
.epic-skills-tab .epic-table-header-grid .skillTP-grid, .epic-skills-tab .epic-table-header-grid .TP-grid {
  color: #51f200;
}
.epic-skills-tab .epic-table-header-grid .skillCP-grid, .epic-skills-tab .epic-table-header-grid .CP-grid {
  color: #000099;
}

/* -------- Equipment --------- */
.equipment-tab .epic-table-header-grid.armor {
  display: grid;
  grid-template-columns: minmax(0, 5fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 5fr);
  column-gap: 2px;
  background: #b56632;
  color: #fff;
  padding: 2px;
}
.equipment-tab .epic-table-header-grid.armor > div {
  text-align: center;
  margin: auto;
  font-weight: bold;
  width: 100%;
}
.equipment-tab div[data-groupname=repeating_armor] > div,
.equipment-tab div[data-epic-table-name=armor] {
  display: grid;
  grid-template-columns: minmax(0, 5fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 5fr);
  row-gap: 0;
  column-gap: 2px;
  background: transparent;
}
.equipment-tab div[data-groupname=repeating_armor] > div input, .equipment-tab div[data-groupname=repeating_armor] > div input[type=number], .equipment-tab div[data-groupname=repeating_armor] > div textarea, .equipment-tab div[data-groupname=repeating_armor] > div select,
.equipment-tab div[data-epic-table-name=armor] input,
.equipment-tab div[data-epic-table-name=armor] input[type=number],
.equipment-tab div[data-epic-table-name=armor] textarea,
.equipment-tab div[data-epic-table-name=armor] select {
  width: 100% !important;
  margin-left: unset;
  height: auto;
  background-color: #faf2ec;
}
.equipment-tab div[data-groupname=repeating_armor] > div input[type=text],
.equipment-tab div[data-epic-table-name=armor] input[type=text] {
  text-align: left;
}
.equipment-tab div[data-groupname=repeating_armor] > div input, .equipment-tab div[data-groupname=repeating_armor] > div span, .equipment-tab div[data-groupname=repeating_armor] > div select,
.equipment-tab div[data-epic-table-name=armor] input,
.equipment-tab div[data-epic-table-name=armor] span,
.equipment-tab div[data-epic-table-name=armor] select {
  white-space: nowrap;
}
.equipment-tab div[data-groupname=repeating_armor] > div span,
.equipment-tab div[data-epic-table-name=armor] span {
  text-align: center;
  margin: auto 0;
}
.equipment-tab div[data-groupname=repeating_armor] > div button, .equipment-tab div[data-groupname=repeating_armor] > div button[type=roll],
.equipment-tab div[data-epic-table-name=armor] button,
.equipment-tab div[data-epic-table-name=armor] button[type=roll] {
  margin: 0;
}
.equipment-tab div[data-groupname=repeating_armor] > div .epic-table-row.conditional-one,
.equipment-tab div[data-epic-table-name=armor] .epic-table-row.conditional-one {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
}
.equipment-tab .epic-table-header-grid.shield {
  display: grid;
  grid-template-columns: minmax(0, 5fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 5fr);
  column-gap: 2px;
  background: #b56632;
  color: #fff;
  padding: 2px;
}
.equipment-tab .epic-table-header-grid.shield > div {
  text-align: center;
  margin: auto;
  font-weight: bold;
  width: 100%;
}
.equipment-tab div[data-groupname=repeating_shield] > div,
.equipment-tab div[data-epic-table-name=shield] {
  display: grid;
  grid-template-columns: minmax(0, 5fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 5fr);
  row-gap: 0;
  column-gap: 2px;
  background: transparent;
}
.equipment-tab div[data-groupname=repeating_shield] > div input, .equipment-tab div[data-groupname=repeating_shield] > div input[type=number], .equipment-tab div[data-groupname=repeating_shield] > div textarea, .equipment-tab div[data-groupname=repeating_shield] > div select,
.equipment-tab div[data-epic-table-name=shield] input,
.equipment-tab div[data-epic-table-name=shield] input[type=number],
.equipment-tab div[data-epic-table-name=shield] textarea,
.equipment-tab div[data-epic-table-name=shield] select {
  width: 100% !important;
  margin-left: unset;
  height: auto;
  background-color: #faf2ec;
}
.equipment-tab div[data-groupname=repeating_shield] > div input[type=text],
.equipment-tab div[data-epic-table-name=shield] input[type=text] {
  text-align: left;
}
.equipment-tab div[data-groupname=repeating_shield] > div input, .equipment-tab div[data-groupname=repeating_shield] > div span, .equipment-tab div[data-groupname=repeating_shield] > div select,
.equipment-tab div[data-epic-table-name=shield] input,
.equipment-tab div[data-epic-table-name=shield] span,
.equipment-tab div[data-epic-table-name=shield] select {
  white-space: nowrap;
}
.equipment-tab div[data-groupname=repeating_shield] > div span,
.equipment-tab div[data-epic-table-name=shield] span {
  text-align: center;
  margin: auto 0;
}
.equipment-tab div[data-groupname=repeating_shield] > div button, .equipment-tab div[data-groupname=repeating_shield] > div button[type=roll],
.equipment-tab div[data-epic-table-name=shield] button,
.equipment-tab div[data-epic-table-name=shield] button[type=roll] {
  margin: 0;
}
.equipment-tab div[data-groupname=repeating_shield] > div .epic-table-row.conditional-one,
.equipment-tab div[data-epic-table-name=shield] .epic-table-row.conditional-one {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 7;
}
.equipment-tab .epic-table-header-grid.weapon {
  display: grid;
  grid-template-columns: minmax(0, 5fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 5fr);
  column-gap: 2px;
  background: #b56632;
  color: #fff;
  padding: 2px;
}
.equipment-tab .epic-table-header-grid.weapon > div {
  text-align: center;
  margin: auto;
  font-weight: bold;
  width: 100%;
}
.equipment-tab div[data-groupname=repeating_weapon] > div,
.equipment-tab div[data-epic-table-name=weapon] {
  display: grid;
  grid-template-columns: minmax(0, 5fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 5fr);
  row-gap: 0;
  column-gap: 2px;
  background: transparent;
}
.equipment-tab div[data-groupname=repeating_weapon] > div input, .equipment-tab div[data-groupname=repeating_weapon] > div input[type=number], .equipment-tab div[data-groupname=repeating_weapon] > div textarea, .equipment-tab div[data-groupname=repeating_weapon] > div select,
.equipment-tab div[data-epic-table-name=weapon] input,
.equipment-tab div[data-epic-table-name=weapon] input[type=number],
.equipment-tab div[data-epic-table-name=weapon] textarea,
.equipment-tab div[data-epic-table-name=weapon] select {
  width: 100% !important;
  margin-left: unset;
  height: auto;
  background-color: #faf2ec;
}
.equipment-tab div[data-groupname=repeating_weapon] > div input[type=text],
.equipment-tab div[data-epic-table-name=weapon] input[type=text] {
  text-align: left;
}
.equipment-tab div[data-groupname=repeating_weapon] > div input, .equipment-tab div[data-groupname=repeating_weapon] > div span, .equipment-tab div[data-groupname=repeating_weapon] > div select,
.equipment-tab div[data-epic-table-name=weapon] input,
.equipment-tab div[data-epic-table-name=weapon] span,
.equipment-tab div[data-epic-table-name=weapon] select {
  white-space: nowrap;
}
.equipment-tab div[data-groupname=repeating_weapon] > div span,
.equipment-tab div[data-epic-table-name=weapon] span {
  text-align: center;
  margin: auto 0;
}
.equipment-tab div[data-groupname=repeating_weapon] > div button, .equipment-tab div[data-groupname=repeating_weapon] > div button[type=roll],
.equipment-tab div[data-epic-table-name=weapon] button,
.equipment-tab div[data-epic-table-name=weapon] button[type=roll] {
  margin: 0;
}
.equipment-tab div[data-groupname=repeating_weapon] > div .epic-table-row.conditional-one,
.equipment-tab div[data-epic-table-name=weapon] .epic-table-row.conditional-one {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 8;
}
.equipment-tab .epic-table-header-grid.item {
  display: grid;
  grid-template-columns: minmax(0, 5fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 5fr);
  column-gap: 2px;
  background: #b56632;
  color: #fff;
  padding: 2px;
}
.equipment-tab .epic-table-header-grid.item > div {
  text-align: center;
  margin: auto;
  font-weight: bold;
  width: 100%;
}
.equipment-tab div[data-groupname=repeating_item] > div,
.equipment-tab div[data-epic-table-name=item] {
  display: grid;
  grid-template-columns: minmax(0, 5fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 5fr);
  row-gap: 0;
  column-gap: 2px;
  background: transparent;
}
.equipment-tab div[data-groupname=repeating_item] > div input, .equipment-tab div[data-groupname=repeating_item] > div input[type=number], .equipment-tab div[data-groupname=repeating_item] > div textarea, .equipment-tab div[data-groupname=repeating_item] > div select,
.equipment-tab div[data-epic-table-name=item] input,
.equipment-tab div[data-epic-table-name=item] input[type=number],
.equipment-tab div[data-epic-table-name=item] textarea,
.equipment-tab div[data-epic-table-name=item] select {
  width: 100% !important;
  margin-left: unset;
  height: auto;
  background-color: #faf2ec;
}
.equipment-tab div[data-groupname=repeating_item] > div input[type=text],
.equipment-tab div[data-epic-table-name=item] input[type=text] {
  text-align: left;
}
.equipment-tab div[data-groupname=repeating_item] > div input, .equipment-tab div[data-groupname=repeating_item] > div span, .equipment-tab div[data-groupname=repeating_item] > div select,
.equipment-tab div[data-epic-table-name=item] input,
.equipment-tab div[data-epic-table-name=item] span,
.equipment-tab div[data-epic-table-name=item] select {
  white-space: nowrap;
}
.equipment-tab div[data-groupname=repeating_item] > div span,
.equipment-tab div[data-epic-table-name=item] span {
  text-align: center;
  margin: auto 0;
}
.equipment-tab div[data-groupname=repeating_item] > div button, .equipment-tab div[data-groupname=repeating_item] > div button[type=roll],
.equipment-tab div[data-epic-table-name=item] button,
.equipment-tab div[data-epic-table-name=item] button[type=roll] {
  margin: 0;
}
.equipment-tab div[data-groupname=repeating_item] > div .epic-table-row.conditional-one,
.equipment-tab div[data-epic-table-name=item] .epic-table-row.conditional-one {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
}

/* ------------- Spells ------------*/
.tabcontrol[value=arcane] ~ .tab[name=act_arcane],
.tabcontrol[value=divine] ~ .tab[name=act_divine],
.tabcontrol[value=innate] ~ .tab[name=act_innate] {
  font-weight: bold;
  text-decoration: none;
  background-color: #b56632;
  color: #faf2ec;
  margin-bottom: -1px;
  border-bottom: 1px solid transparent;
}

.sectioncontrol[value=arcane] ~ div.arcane,
.sectioncontrol[value=divine] ~ div.divine,
.sectioncontrol[value=innate] ~ div.innate {
  display: block;
}

.spell-tabs {
  border-bottom: solid black 1px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}
.spell-tabs > button[type=action] {
  border-bottom: 0px;
}
.spell-tabs > button[type=roll] {
  margin-bottom: 1px;
}

.spells div[data-groupname] span {
  display: inline-block;
}
.spells input[type=text]:not(.skillname) {
  text-align: center;
}
.spells .label {
  color: black;
}

.arcane .skillattribute {
  text-align: right;
  width: 30px;
  margin-bottom: 2px;
}

.spellEP.spellEP.spellEP {
  width: 50px;
  margin-left: 15px;
}

.spellcasttime {
  width: 50px;
}

.spelltype {
  width: 65px;
}

.spellrange {
  width: 40px;
}

.spelltarget {
  width: 60px;
}

.spellduration {
  width: 70px;
}

.spellhasnote.spellhasnote.spellhasnote.spellhasnote {
  width: 12px;
  margin-left: 0px;
  margin-right: 1px;
  margin-bottom: 2px;
}

.isdiscipline[value="1"] ~ .skill-roll,
.isdiscipline[value="1"] ~ .spellEP,
.isdiscipline[value="1"] ~ .spellcasttime,
.isdiscipline[value="1"] ~ .spelltype,
.isdiscipline[value="1"] ~ .spellrange,
.isdiscipline[value="1"] ~ .spelltarget,
.isdiscipline[value="1"] ~ .spellduration,
.isdiscipline[value="1"] ~ .spellhasnote {
  display: none;
}
.isdiscipline[value="1"] ~ .spellhasnote + span.skillTP {
  margin-left: 448px;
}

.table-header .skill-roll {
  border-width: 0px;
}

.spell-note {
  flex-grow: 1;
  margin-bottom: 1px;
}

.arcane .spell-note {
  margin-left: 40px;
}

/* Avoid space between items in the row */
.spells .table-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.spells div[data-groupname] > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* and make rows overlap */
  margin-top: -1px;
}
.spells .epic-table-header-grid.arcane {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 4fr) minmax(0, 0.75fr) minmax(0, 1fr) minmax(0, 0.5fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1.5fr) minmax(0, 0.5fr) minmax(0, 0.5fr) minmax(0, 0.5fr) minmax(0, 1fr) minmax(0, 0.5fr) minmax(0, 1fr);
  column-gap: 2px;
  background: #b56632;
  color: #fff;
  padding: 2px;
}
.spells .epic-table-header-grid.arcane > div {
  text-align: center;
  margin: auto;
  font-weight: bold;
  width: 100%;
}
.spells div[data-groupname=repeating_arcane] > div,
.spells div[data-epic-table-name=arcane] {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 4fr) minmax(0, 0.75fr) minmax(0, 1fr) minmax(0, 0.5fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1.5fr) minmax(0, 0.5fr) minmax(0, 0.5fr) minmax(0, 0.5fr) minmax(0, 1fr) minmax(0, 0.5fr) minmax(0, 1fr);
  row-gap: 0;
  column-gap: 2px;
  background: transparent;
}
.spells div[data-groupname=repeating_arcane] > div input, .spells div[data-groupname=repeating_arcane] > div input[type=number], .spells div[data-groupname=repeating_arcane] > div textarea, .spells div[data-groupname=repeating_arcane] > div select,
.spells div[data-epic-table-name=arcane] input,
.spells div[data-epic-table-name=arcane] input[type=number],
.spells div[data-epic-table-name=arcane] textarea,
.spells div[data-epic-table-name=arcane] select {
  width: 100% !important;
  margin-left: unset;
  height: auto;
  background-color: #faf2ec;
}
.spells div[data-groupname=repeating_arcane] > div input[type=text],
.spells div[data-epic-table-name=arcane] input[type=text] {
  text-align: left;
}
.spells div[data-groupname=repeating_arcane] > div input, .spells div[data-groupname=repeating_arcane] > div span, .spells div[data-groupname=repeating_arcane] > div select,
.spells div[data-epic-table-name=arcane] input,
.spells div[data-epic-table-name=arcane] span,
.spells div[data-epic-table-name=arcane] select {
  white-space: nowrap;
}
.spells div[data-groupname=repeating_arcane] > div span,
.spells div[data-epic-table-name=arcane] span {
  text-align: center;
  margin: auto 0;
}
.spells div[data-groupname=repeating_arcane] > div button, .spells div[data-groupname=repeating_arcane] > div button[type=roll],
.spells div[data-epic-table-name=arcane] button,
.spells div[data-epic-table-name=arcane] button[type=roll] {
  margin: 0;
}
.spells div[data-groupname=repeating_arcane] > div .epic-table-row.conditional-one,
.spells div[data-epic-table-name=arcane] .epic-table-row.conditional-one {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 18;
}
.spells .epic-table-header-grid.divine {
  display: grid;
  grid-template-columns: minmax(0, 6fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr) minmax(0, 0.5fr);
  column-gap: 2px;
  background: #b56632;
  color: #fff;
  padding: 2px;
}
.spells .epic-table-header-grid.divine > div {
  text-align: center;
  margin: auto;
  font-weight: bold;
  width: 100%;
}
.spells div[data-groupname=repeating_divine] > div,
.spells div[data-epic-table-name=divine] {
  display: grid;
  grid-template-columns: minmax(0, 6fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr) minmax(0, 0.5fr);
  row-gap: 0;
  column-gap: 2px;
  background: transparent;
}
.spells div[data-groupname=repeating_divine] > div input, .spells div[data-groupname=repeating_divine] > div input[type=number], .spells div[data-groupname=repeating_divine] > div textarea, .spells div[data-groupname=repeating_divine] > div select,
.spells div[data-epic-table-name=divine] input,
.spells div[data-epic-table-name=divine] input[type=number],
.spells div[data-epic-table-name=divine] textarea,
.spells div[data-epic-table-name=divine] select {
  width: 100% !important;
  margin-left: unset;
  height: auto;
  background-color: #faf2ec;
}
.spells div[data-groupname=repeating_divine] > div input[type=text],
.spells div[data-epic-table-name=divine] input[type=text] {
  text-align: left;
}
.spells div[data-groupname=repeating_divine] > div input, .spells div[data-groupname=repeating_divine] > div span, .spells div[data-groupname=repeating_divine] > div select,
.spells div[data-epic-table-name=divine] input,
.spells div[data-epic-table-name=divine] span,
.spells div[data-epic-table-name=divine] select {
  white-space: nowrap;
}
.spells div[data-groupname=repeating_divine] > div span,
.spells div[data-epic-table-name=divine] span {
  text-align: center;
  margin: auto 0;
}
.spells div[data-groupname=repeating_divine] > div button, .spells div[data-groupname=repeating_divine] > div button[type=roll],
.spells div[data-epic-table-name=divine] button,
.spells div[data-epic-table-name=divine] button[type=roll] {
  margin: 0;
}
.spells div[data-groupname=repeating_divine] > div .epic-table-row.conditional-one,
.spells div[data-epic-table-name=divine] .epic-table-row.conditional-one {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 9;
}
.spells .epic-table-header-grid.innate {
  display: grid;
  grid-template-columns: minmax(0, 6fr) minmax(0, 1fr) minmax(0, 2fr) minmax(0, 3fr) minmax(0, 2fr) minmax(0, 3fr) minmax(0, 2fr) minmax(0, 0.5fr) minmax(0, 1fr);
  column-gap: 2px;
  background: #b56632;
  color: #fff;
  padding: 2px;
}
.spells .epic-table-header-grid.innate > div {
  text-align: center;
  margin: auto;
  font-weight: bold;
  width: 100%;
}
.spells div[data-groupname=repeating_innate] > div,
.spells div[data-epic-table-name=innate] {
  display: grid;
  grid-template-columns: minmax(0, 6fr) minmax(0, 1fr) minmax(0, 2fr) minmax(0, 3fr) minmax(0, 2fr) minmax(0, 3fr) minmax(0, 2fr) minmax(0, 0.5fr) minmax(0, 1fr);
  row-gap: 0;
  column-gap: 2px;
  background: transparent;
}
.spells div[data-groupname=repeating_innate] > div input, .spells div[data-groupname=repeating_innate] > div input[type=number], .spells div[data-groupname=repeating_innate] > div textarea, .spells div[data-groupname=repeating_innate] > div select,
.spells div[data-epic-table-name=innate] input,
.spells div[data-epic-table-name=innate] input[type=number],
.spells div[data-epic-table-name=innate] textarea,
.spells div[data-epic-table-name=innate] select {
  width: 100% !important;
  margin-left: unset;
  height: auto;
  background-color: #faf2ec;
}
.spells div[data-groupname=repeating_innate] > div input[type=text],
.spells div[data-epic-table-name=innate] input[type=text] {
  text-align: left;
}
.spells div[data-groupname=repeating_innate] > div input, .spells div[data-groupname=repeating_innate] > div span, .spells div[data-groupname=repeating_innate] > div select,
.spells div[data-epic-table-name=innate] input,
.spells div[data-epic-table-name=innate] span,
.spells div[data-epic-table-name=innate] select {
  white-space: nowrap;
}
.spells div[data-groupname=repeating_innate] > div span,
.spells div[data-epic-table-name=innate] span {
  text-align: center;
  margin: auto 0;
}
.spells div[data-groupname=repeating_innate] > div button, .spells div[data-groupname=repeating_innate] > div button[type=roll],
.spells div[data-epic-table-name=innate] button,
.spells div[data-epic-table-name=innate] button[type=roll] {
  margin: 0;
}
.spells div[data-groupname=repeating_innate] > div .epic-table-row.conditional-one,
.spells div[data-epic-table-name=innate] .epic-table-row.conditional-one {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 10;
}
.spells .skillTP-grid, .spells .TP-grid {
  color: #267200;
  font-weight: bold;
}
.spells .skillCP-grid, .spells .CP-grid {
  color: blue;
  font-weight: bold;
}
.spells .epic-table-header-grid .skillTP-grid, .spells .epic-table-header-grid .TP-grid {
  color: #51f200;
}
.spells .epic-table-header-grid .skillCP-grid, .spells .epic-table-header-grid .CP-grid {
  color: #000099;
}

.spell-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

/* ------------ Notes -------------- */
.notecategory {
  width: 120px;
  text-align: right;
}

.notenote {
  width: 500px;
}

.notes div[data-groupname] > div {
  /* and make rows overlap */
  margin-top: -1px;
}
