/* --------- Top section ----------------- */

.top-section {
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  margin-bottom: 6px;
  @include theme-background(paper-gradient-color);
  .effectiveness-power-depth-cp-fp-section {
    display: flex;
    align-items: center;
    gap: 12px;
    input.FP {
      width: 2ch;
    }
    .effectiveness {
      color: #FFD0FF;
    }
  }

  .attributecontrol[value="basic"]~button.reset-total,
  .attributecontrol[value="basic"]~.not-basic-tab,
  .cpcontrol[value="basic"]~.not-basic-tab {
    display: none;
  }

  .attributecontrol:not([value="basic"])~button.reset-total .attributecontrol:not([value="basic"])~.CP,
  .attributecontrol:not([value="basic"])~.basic-tab-only,
  .cpcontrol:not([value="basic"])~.basic-tab-only {
    display: none;
  }

  .leftTopSection {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .diceRollSection {
    margin-left: 4px;
    .attributeRollSection {
      display: grid;
      width: fit-content;
      grid-template-columns: [name] auto [field] 1fr [roll-button] auto;
      align-items: center;
      row-gap: 4px;
      .attributeName {
        grid-column: name;
        font-weight: bold;
        text-align: right;
        margin-right: 8px;
      }
      .attributeField {
        grid-column: field;
      }
      .actionRollButton {
        grid-column: roll-button;
        padding: 2px 3px;
        font-size: 1.3em;
        margin: 0 3px;
        border-width: 1px;
      }
    }
  }
  .tab-holder {
    margin-top: 4px;
  }
  @import './components/defenseBlock.scss';
}
