// Top section 
= '\n'
.top-section
  .flex-stack.space-between
    .diceRollSection
      .attributeRollSection
        .attributeName IQ
        .attributeField
          span(name='attr_IQ')
          span + 
          input(name='attr_IQmodifier' type='number' value='0')
        button.actionRollButton.epRoll_IQmodifier(name='act_epRoll_IQmodifier' type='action')
        .attributeName DX
        .attributeField
          span(name='attr_DX')
          span  + 
          input(name='attr_DXmodifier' type='number' value='0')
        button.actionRollButton.epRoll_DXmodifier(name='act_epRoll_DXmodifier' type='action')
        .attributeName BR
        .attributeField
          span.center(name='attr_BR')
          span  + 
          input(name='attr_BRmodifier' type='number' value='0')
        button.actionRollButton.epRoll_BRmodifier(name='act_epRoll_BRmodifier' type='action')
        .attributeName Init
        .attributeField
          span(name='attr_initiative')
          span  + 
          input(name='attr_initiativemodifier' type='number' value='0')
        button.actionRollButton.epRoll_initiative(name='act_epRoll_initiative' type='action')
    // tab buttons 
    .tab-holder
      //
        This input's value names the currently selected tab.
        its value is used for css selection of its siblings.
      input.tabcontrol(name='attr_chosentab' type='hidden' value='basic')
      button.tab(name='act_overview' type='action')
        | Overview
      button.tab(name='act_basic' type='action')
        | Basic
      button.tab(name='act_equipment' type='action')
        | Equipment
      button.tab(name='act_skills' type='action')
        | Skills
      button.tab(name='act_spells' type='action')
        | Spells
      button.tab(name='act_notes' type='action')
        | Notes
  // Movement & DR 
  .children-separated.no-shrink
    div
      .attribute-name.wide.larger
        button.popoverButton.circledButton(name='act_popover_weightPenalties' type='action')
          | ?
        input.sectioncontrol(name='attr_chosenPopover' type='hidden' value='false')
        .section.weightPenalties.popoverContainer
          .popoverBackdrop
            button(name='act_popover_weightPenalties' type='action') Close popover
          .popover
            button.closePopoverButton(name='act_popover_weightPenalties' type='action') X
            .center.wideish.bold Weight Penalties
            .weight-penalty-table.flex-stack
              .table-header
                div
                div Pen.
                div Wt.
              div
                input(name='attr_highlight_weight_penalty_1' type='hidden')
                div -1
                span(name='attr_penalty_weight_1')
              div
                input(name='attr_highlight_weight_penalty_2' type='hidden')
                div -2
                span(name='attr_penalty_weight_2')
              div
                input(name='attr_highlight_weight_penalty_3' type='hidden')
                div -3
                span(name='attr_penalty_weight_3')
              div
                input(name='attr_highlight_weight_penalty_4' type='hidden')
                div -4
                span(name='attr_penalty_weight_4')
              div
                input(name='attr_highlight_weight_penalty_5' type='hidden')
                div -5
                span(name='attr_penalty_weight_5')
              div
                input(name='attr_highlight_weight_penalty_6' type='hidden')
                div -&infin;
                span(name='attr_penalty_weight_6')
        |         Wt. Load
      span.narrowish.center.bold.larger.value(name='attr_equipment_total_weight')
    div
      .attribute-name.wide.larger Wt. Pen.
      span.narrowish.center.bold.larger.value(name='attr_displayed_weight_penalty')
    div
      .attribute-name.wide.larger Speed
      span.narrowish.center.bold.larger.value(name='attr_speed')
  include ./components/defenseBlock.pug
  = '\n'
  // HP, PWR, ER 
  .children-separated.no-shrink
    div
      .attribute-name.biggish PWR
      input.biggish.narrower.medium.center(name='attr_EP_t' type='number')
      .inline.biggish.middle /
      button.reset-total(name='act_reset_ep_t' type='action')
        | &#x21E6;
      span.biggish.narrow(name='attr_EP_t_max')
    div
      = '\n'
      | &emsp;&emsp;&emsp;
      button.convert-button(name='act_convert_sp' type='action')
        | &nbsp;&#x21EF;
    div
      .attribute-name.biggish &ensp;&ensp;&ensp;ER
      input.biggish.narrower.medium.center(name='attr_SP' type='number')
      span
        button.reset-total(name='act_reset_sp' type='action')
          | &#x21E6;
      span.biggish.narrow(name='attr_SP_max' value='0')
    div
      .attribute-name.biggish HP
      // TODO: Move this to sheet worker, who can do it right. 
      input.biggish.medium.center(name='attr_HP' type='number')
      span
        button.reset-total(name='act_reset_hp' type='action')
          | &#x21E6;
      span.biggish.narrow(name='attr_HP_max' value='16')
