/* --------- Top section ----------------- */

.top-section {
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  margin-bottom: 6px;
  @include theme-background(paper-gradient-color);
  .effectiveness-power-depth-cp-fp-section {
    display: flex;
    align-items: center;
    gap: 12px;
    input.FP {
      width: 2ch;
    }
  }

  .attributecontrol[value="basic"]~span.attribute-value,
  .attributecontrol[value="basic"]~button.reset-total,
  .attributecontrol[value="basic"]~.attribute-roll,
  .attributecontrol[value="basic"]~.not-basic-tab,
  .cpcontrol[value="basic"]~.not-basic-tab {
    display: none;
  }

  .attributecontrol:not([value="basic"])~input.attribute-value,
  .attributecontrol:not([value="basic"])~button.reset-total .attributecontrol:not([value="basic"])~.CP,
  .attributecontrol:not([value="basic"])~.basic-tab-only,
  .cpcontrol:not([value="basic"])~.basic-tab-only {
    display: none;
  }

  .attribute-row {
    display: flex;
    align-items: center;
  }
  .tab-holder {
    margin-top: 4px;
  }
  @include popover-control('weightPenalties');
  @import './components/defenseBlock.scss';
}
