@import '../components/gridTable/gridTable.scss';

/* ------------- Spells ------------*/

.tabcontrol[value="arcane"]~.tab[name="act_arcane"],
.tabcontrol[value="divine"]~.tab[name="act_divine"],
.tabcontrol[value="innate"]~.tab[name="act_innate"] {
  font-weight: bold;
  text-decoration: none;
  background-color: $selected-tab-color;
  color: $primary-background-color;
  margin-bottom: -1px;
  border-bottom: 1px solid transparent;
}

.sectioncontrol[value="arcane"]~div.arcane,
.sectioncontrol[value="divine"]~div.divine,
.sectioncontrol[value="innate"]~div.innate {
  display: block;
}

$notes-popover-width: 16px;
.spell-tabs {

  border-bottom: solid black 1px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;

  >button[type="action"] {
    border-bottom: 0px;
  }

  >button[type="roll"] {
    margin-bottom: 1px;
  }
}

/* Avoid space between items in the row */
.spells {
  .spell-header-action-area {
    display: flex;
    gap: 8px;
    label, .label {
      color: black;
    }
  }
  @import './spellsNotesPopover.scss';

  $arcane-grid-template: getResponsiveGridWidths(
    40px, // Discipline?
    4fr, // Name
    32px, // Ability
    40px, // Mod
    0.5fr, // (Dice)
    40px, // EP
    1fr, // Cast Time
    80px, // Touch/ Ray/ Missile - 80px for two rows not three
    1.5fr, // Range
    2fr, // Target
    1.5fr, // Damage/ Duration
    $notes-popover-width, // N(otes)
    24px, // TP
    24px, // CP
    40px, // Exper.
    auto, // IQ ±
    40px, // Base
  );

  @include epic-table-grid('arcane', $arcane-grid-template);
  @include epic-table-grid-row-border('arcane');

  .isdiscipline-grid[value="1"] {
    ~:not(.skillname-grid, .skillTP-grid, .skillexpertise-grid) {
      opacity: 0;
      cursor: default;
      pointer-events: none;
    }
  }

  .isdiscipline-grid[value="1"]~.skillname-grid {
    font-weight: bold;
    text-align: center;
  }
  .isdiscipline-grid:not([value="1"])~.skillname-grid {
    text-align: right;
  }

  .arcane-iq-plus-minus-attribute {
    white-space: nowrap;
  }

  $divine-grid-template: getResponsiveGridWidths(6fr, $notes-popover-width, 1fr, 1fr, 2fr, 1fr, 1fr, 2fr);
  @include epic-table-grid('divine', $divine-grid-template);
  @include epic-table-grid-row-border('divine');

  $innate-grid-template: getResponsiveGridWidths(
    40px, // Sphere?
    6fr, // Name
    $notes-popover-width, // Note Popover
    32px, //EP
    2fr, // Cast Time
    2fr, // Touch/Ray/Missle
    2fr, // Range
    3fr, // Target
    2fr, // Damage/Duration
    32px, // CP
  );
  @include epic-table-grid('innate', $innate-grid-template);
  @include epic-table-grid-row-border('innate');

  .innatesphere-hidden[value|="S"]{
    ~.skillname-grid {
      // If the row is a sphere, style it
      font-weight: bold;
      text-align: center;
    }
    ~:not(.skillname-grid) {
      opacity: 0;
      cursor: default;
      pointer-events: none;
    }
  }

  @include grid-table-tp-cp-columns();

  .spell-note {
    margin-bottom: 1px;
  }

  @include popover-control('spellNotePopover');
  div.spellNotePopover {
    .popover {
      label {
        text-align: left;
        font-weight: bold;
      }
    }
  }
}
