div
  button.popoverButton.smallerPopoverButton(name='act_togglepopoverspellnote' type='action')
    | ?
  //
    The next input puts whether we have a note into the
    value property, where CSS can see it
  input.popoverController(name='attr_visiblepopover' type='hidden' value='false')
  .spellNotePopover.popoverContainer
    .popover
      // Buttons in a popover break stacking order, and pop out of the repeating stack.
      button.closePopoverButton(name='act_closepopoverspellnotes' type='action') X
      label Spell Notes
      textarea.spell-note(name='attr_spellnote' rows='6')