.spellNotesPopover
  input.spellnote-hidden(name='attr_spellnote' type='hidden')
  button.popoverButton(name='act_togglepopoverspellnote' type='action')
  //
    The next input puts whether we have a note into the
    value property, where CSS can see it
  input.popoverController(name='attr_visiblepopover' type='hidden' value='false')
  .spellNotePopover.popoverContainer
    .popoverBackdrop
      button(name='act_closepopoverspellnotes' type='action') Close popover
    .popover.fixedPlacementPopover
      // Buttons in a popover break stacking order, and pop out of the repeating stack.
      button.closePopoverButton(name='act_closepopoverspellnotes' type='action') X
      h2
        span.spell-name(name='attr_skillname')
      .small-spacer
      label Name
      input.skillname-grid(name='attr_skillname' type='text')
      .small-spacer
      label Spell Notes
      textarea.spell-note(name='attr_spellnote' rows='6')
      .extra-spell-attributes
        .attribute-section
          label EP
          input.spellEP-grid(name='attr_spellEP' type='number')
        .attribute-section
          label Range
          input.spellrange-grid(name='attr_spellrange' type='text')
        .attribute-section
          label Target
          input.spelltarget-grid(name='attr_spelltarget' type='text')
        .attribute-section
          label Damage/Duration
          input.spellduration-grid(name='attr_spellduration' type='text')
      .small-spacer
      button(name='act_closepopoverspellnotes' type='action') Close
