// Spells section 
.spells.section
  //
    This input's value names the currently selected tab.
    its value is used for css selection of the tab content.
  input.sectioncontrol(name='attr_chosenspelltype' type='hidden' value='arcane')
  // Spell tab buttons 
  .spell-tabs
    //
      This input's value names the currently selected tab.
      its value is used for css selection of its siblings.
    input.tabcontrol(name='attr_chosenspelltype' type='hidden' value='arcane')
    button.tab(name='act_arcane' type='action')
      | Arcane
    button.tab(name='act_divine' type='action')
      | Divine
    button.tab(name='act_innate' type='action')
      | Innate
    = '\n'
    = '\n'
    | &emsp; &emsp;
    .spell-header-action-area
      .label.wide.larger Spell Hit
      input(name='attr_spell_hit' type='hidden')
      span.center.bold.larger.middle(name='attr_spell_hit')
      input.skillbase(name='attr_spell_hit_modifier' type='number')
      button.spellRoll.updateRollSectionContent(name='act_updateRollSectionContent_spell_hit' type='action') &#8679;
      .label.wide.larger Affliction
      input(name='attr_affliction' type='hidden')
      span.center.bold.larger.middle(name='attr_affliction')
      input.skillbase(name='attr_affliction_modifier' type='number')
      button.spellRoll.updateRollSectionContent(name='act_updateRollSectionContent_affliction' type='action') &#8679;
      .label.wide.larger Mental
      input(name='attr_mental' type='hidden')
      span.center.bold.larger.middle(name='attr_mental')
      input.skillbase(name='attr_mental_modifier' type='number')
      button.spellRoll.updateRollSectionContent(name='act_updateRollSectionContent_mental' type='action') &#8679;
  // Arcane spells 
  .arcane.section
    input(name='attr_arcane_total_FP' type='hidden' value='0')
    input(name='attr_arcane_total_CP' type='hidden' value='0')
    input(name='attr_arcane_total_single_CP' type='hidden' value='0')
    .arcane.epic-table-header-grid
      .skilldisciplineinfo-grid.narrow-table-heading Discipline?
      .skillname-grid Name
      .skillability-grid Ability
      .skillbase-grid Mod
      .skill--gridroll
      .spellEP-grid PWR
      .spellcasttime-grid Cast Time
      .spelltype-grid Touch/ Ray/ Missile
      .spellrange-grid Range
      .spelltarget-grid Target
      .spellduration-grid Damage/ Duration
      .spellhasnote-grid Notes
      .skillFP-grid
        include ../powerStats/fpColumnHeader.pug
      .skillCP-grid
        include ../powerStats/cpColumnHeader.pug
      .skillexpertise-grid Exper.
      .skillattribute-grid.arcane-iq-plus-minus-attribute IQ &pm;
      .skillbase-grid Base
    fieldset.repeating_arcane
      select.skilldisciplineinfo-grid(name='attr_skilldisciplineinfo')
        option(value=' ')
        option(value='D') D
        option(value='⇡') &#x21E1;
      //
        The next input puts whether we are a discipline into the
        value property, where CSS can see it
      input.isdiscipline-grid(name='attr_skillisdiscipline' type='hidden')
      input.skillname-grid(name='attr_skillname' type='text')
      span.skillability-grid(name='attr_skillability')
      // Make the button able to access the ability 
      input(name='attr_skillability' hidden='true')
      input.skillbase-grid(name='attr_skillmodifier' type='number')
      button.skill-grid-roll.updateRollSectionContent(name='act_updaterollsectioncontent' type='action') &#8679;
      input.spellEP-grid(name='attr_spellEP' type='text')
      input.spellcasttime-grid(name='attr_spellcasttime' type='text')
      select.spelltype-grid(name='attr_spelltype' type='text')
        option(value='-') None
        option(value='touch') Touch
        option(value='ray') Ray
        option(value='missile') Missile
      input.spellrange-grid(name='attr_spellrange' type='text')
      input.spelltarget-grid(name='attr_spelltarget' type='text')
      input.spellduration-grid(name='attr_spellduration' type='text')
      include ./spellsNotesPopover.pug
      span.skillFP-grid.center(name='attr_skillFP')
      span.skillCP-grid.center(name='attr_skillCP')
      select.skillexpertise-grid(name='attr_skillexpertise')
        option(value='--') --
        option(value='B') b
        option(value='0') 0
        option(value='1') 1
        option(value='2') 2
        option(value='3') 3
        option(value='4') 4
        option(value='5') 5
        option(value='6') 6
        option(value='7') 7
        option(value='8') 8
        option(value='9') 9
      input(name='attr_skilldisciplineexpertise' type='hidden')
      input(name='attr_skillattribute' value='IQ' type='hidden')
      span.skillattribute-grid.arcane-iq-plus-minus-attribute IQ &pm;
      input.skillbase-grid(name='attr_skillbase' type='number' value='')
  .divine.section.divine-spells-grid
    input(name='attr_divine_total_CP' type='hidden' value='0')
    input(name='attr_divine_total_single_CP' type='hidden' value='0')
    .divine.epic-table-header-grid
      .skillname-grid Name
      .spellhasnote-grid Notes
      .spellEP-grid PWR
      .spellcasttime-grid Cast Time
      .spelltype-grid Touch/ Ray/ Missile
      .spellrange-grid Range
      .spelltarget-grid Target
      .spellduration-grid Damage/ Duration
    fieldset.repeating_divine
      input.skillname-grid(name='attr_skillname' type='text')
      include ./spellsNotesPopover.pug
      input.spellEP-grid(name='attr_spellEP' type='number')
      input.spellcasttime-grid(name='attr_spellcasttime' type='text')
      select.spelltype-grid(name='attr_spelltype' type='text')
        option(value='-') None
        option(value='touch') Touch
        option(value='ray') Ray
        option(value='missile') Missile
      input.spellrange-grid(name='attr_spellrange' type='text')
      input.spelltarget-grid(name='attr_spelltarget' type='text')
      input.spellduration-grid(name='attr_spellduration' type='text')
  .innate.section.innate-spells-grid
    input(name='attr_innate_total_CP' type='hidden' value='0')
    input(name='attr_innate_total_single_CP' type='hidden' value='0')
    .innate.epic-table-header-grid
      .skill-innatesphere-grid.epic-tooltip.narrow-table-heading Sphere
        span.epic-tooltip-text Spell Sphere
      .skillname-grid Name
      .spellhasnote-grid Notes
      .spellEP-grid PWR
      .spellcasttime-grid Cast Time
      .spelltype-grid Touch/ Ray/ Missile
      .spellrange-grid Range
      .spelltarget-grid Target
      .spellduration-grid Damage/ Duration
      .skillCP-grid
        include ../powerStats/cpColumnHeader.pug
    fieldset.repeating_innate
      select.skill-innatesphere-grid(name='attr_skillinnatesphere')
        option(value=' ')
        option(value='S') S
      // The next input allows targeting in CSS
      input.innatesphere-hidden(name='attr_skillinnatesphere' type='hidden')
      input.skillname-grid(name='attr_skillname' type='text')
      include ./spellsNotesPopover.pug
      input.spellEP-grid(name='attr_spellEP' type='text')
      input.spellcasttime-grid(name='attr_spellcasttime' type='text')
      select.spelltype-grid(name='attr_spelltype' type='text')
        option(value='-') None
        option(value='touch') Touch
        option(value='ray') Ray
        option(value='missile') Missile
      input.spellrange-grid(name='attr_spellrange' type='text')
      input.spelltarget-grid(name='attr_spelltarget' type='text')
      input.spellduration-grid(name='attr_spellduration' type='text')
      input.skillCP-grid(name='attr_skillCP' type='number')
