@import '../colors.scss';

.spellNotesPopover {
  @include theme-background-color(field-background-color);
  button.popoverButton {
    // See https://wiki.roll20.net/Roll20_UI_Icons
    font-family: Pictos;
    font-size: 14px;
    line-height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    border-radius: 100%;
    padding: 0 !important;
    margin: 0 4px;
    @include theme-color(paper-color);
    @include theme-background-color(primary-highlight-background-color);
  }
  .spellnote-hidden[value]{
    ~button.popoverButton::after {
      // See https://wiki.roll20.net/Roll20_UI_Icons
      content: 's'; // Magnifying glass
      color: #80ffff;
    }
  }
  .spellnote-hidden:not([value]), .spellnote-hidden[value=""]{ 
    ~button.popoverButton::after {
      // See https://wiki.roll20.net/Roll20_UI_Icons
      content: '&'; // Plus sign
      color: #efcb83;
    }
  }
  .extra-spell-attributes {
    display: flex;
    gap: 8px;
    .attribute-section {
      input {
        width: 100%;
      }
    }
  }
}
