@import '../components/gridTable/gridTable.scss';

/* ------------- Spells ------------*/

.tabcontrol[value="arcane"]~.tab[name="act_arcane"],
.tabcontrol[value="divine"]~.tab[name="act_divine"],
.tabcontrol[value="innate"]~.tab[name="act_innate"] {
  font-weight: bold;
  text-decoration: none;
  background-color: $selected-tab-color;
  color: $primary-background-color;
  margin-bottom: -1px;
  border-bottom: 1px solid transparent;
}

.sectioncontrol[value="arcane"]~div.arcane,
.sectioncontrol[value="divine"]~div.divine,
.sectioncontrol[value="innate"]~div.innate {
  display: block;
}

.spell-tabs {
  border-bottom: solid black 1px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;

  >button[type="action"] {
    border-bottom: 0px;
  }

  >button[type="roll"] {
    margin-bottom: 1px;
  }
}

.spells {
  div[data-groupname] span {
    display: inline-block;
  }

  input[type="text"]:not(.skillname) {
    text-align: center;
  }

  .label {
    color: black;
  }
}

.arcane .skillattribute {
  text-align: right;
  width: 30px;
  margin-bottom: 2px;
}

.spellEP.spellEP.spellEP {
  width: 50px;
  margin-left: 15px;
}

.spellcasttime {
  width: 50px;
}

.spelltype {
  width: 65px;
}

.spellrange {
  width: 40px;
}

.spelltarget {
  width: 60px;
}

.spellduration {
  width: 70px;
}

.spellhasnote.spellhasnote.spellhasnote.spellhasnote {
  width: 12px;
  margin-left: 0px;
  margin-right: 1px;
  margin-bottom: 2px;
}

.isdiscipline[value="1"] {
  ~.skill-roll,
  ~.spellEP,
  ~.spellcasttime,
  ~.spelltype,
  ~.spellrange,
  ~.spelltarget,
  ~.spellduration,
  ~.spellhasnote {
    display: none;
  }

  ~.spellhasnote+span.skillTP {
    // This aligns the `Experience` column when the row is `isdispline`
    margin-left: 448px;
  }
}

.table-header .skill-roll {
  border-width: 0px;
}

.spell-note {
  flex-grow: 1;
  margin-bottom: 1px;
}
.arcane .spell-note {
  margin-left: 40px;
}

/* Avoid space between items in the row */
.spells {
  .table-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  div[data-groupname]>div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* and make rows overlap */
    margin-top: -1px;
  }

  $arcane-grid-template: getResponsiveGridWidths(
    1fr, // Discipline?
    4fr, // Name
    0.75fr, // Ability
    1fr, // Mod
    0.5fr, // (Dice)
    1fr, // EP
    1fr, // Cast Time
    2fr, // Touch/ Ray/ Missile
    1fr, // Range
    1fr, // Target
    1.5fr, // Damage/ Duration
    0.5fr, // N(otes)
    0.5fr, // TP
    0.5fr, // CP
    1fr, // Exper.
    0.5fr, // IQ ±
    1fr, // Base
  );

  @include epic-table-grid('arcane', $arcane-grid-template);

  $divine-grid-template: getResponsiveGridWidths(6fr, 1fr, 1fr, 2fr, 1fr, 1fr, 2fr, 0.5fr);
  @include epic-table-grid('divine', $divine-grid-template);

  $innate-grid-template: getResponsiveGridWidths(6fr, 1fr, 2fr, 3fr, 2fr, 3fr, 2fr, 0.5fr, 1fr);
  @include epic-table-grid('innate', $innate-grid-template);
}

.spell-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}