@import '../colors.scss';
@import '../components/gridTable/gridTable.scss';

/* -------- Skills --------- */
.epic-skills-tab {
  max-width: 600px;
  $skill-grid-template: getResponsiveGridWidths(
    40px, // Discipline?
    4fr, // Name
    40px, // Ability
    48px, // FP
    48px, // CP
    1fr, // Exper
    72px, // Attribute
    40px // Base
  );
  @include epic-table-grid('skill', $skill-grid-template);
  @include epic-table-grid-row-border('skill');

  .isdiscipline-grid[value="1"] {
    ~.skillability-grid, ~.skillattribute-grid, ~.skillbase-grid {
      opacity: 0;
      cursor: default;
      pointer-events: none;
    }
  }
  .isdiscipline-grid[value="1"]~.skillname-grid {
    font-weight: bold;
    text-align: center;
  }
  .isdiscipline-grid:not([value="1"])~.skillname-grid {
    text-align: right;
  }
  @include grid-table-fp-cp-columns();

  button.add-base-skills-button {
    min-width: 128px;
    min-height: 32px;
  }
  button.add-base-skills-button, button.approve-add-base-skills-button {
    font-size: 1.5rem;
    @include theme-color(primary-highlight-color);
    @include theme-background-color(primary-highlight-background-color);
  }
  button.add-base-skills-button {
    display: none;
  }
  input.skill-count-control {
    &[value="0"] ~ button.add-base-skills-button {
      display: block;
    }
  }
  .add-base-skills-section {
    margin-top: 8px;
    @include popover-control('addBaseSkills');
  }
}
