// skill section 
.skills.section.epic-skills-tab
  div
    .bold Disciplines &amp; Skills
  .epic-skill-table
    input(name='attr_skill_total_FP' type='hidden' value='0')
    input(name='attr_skill_total_CP' type='hidden' value='0')
    input(name='attr_skill_total_single_CP' type='hidden' value='0')
    .epic-table-header-grid.skill
      .skilldisciplineinfo-grid Discipline?
      .skillname-grid Name
      .skillability-grid Ability
      .skillFP-grid FP
      .skillCP-grid CP
      .skillexpertise-grid Exper.
      .skillattribute-grid Attribute
      .skillbase-grid Base
    fieldset.repeating_skill
      select.skilldisciplineinfo(name='attr_skilldisciplineinfo')
        option(value=' ')
        option(value='D') D
        option(value='⇡') &#x21E1;
      //
        The next input puts whether we have a discipline into the
        value property, where CSS can see it
      input.isdiscipline-grid(name='attr_skillisdiscipline' type='hidden')
      input.skillname-grid(name='attr_skillname' type='text')
      span.skillability-grid(name='attr_skillability')
      span.skillFP-grid.center(name='attr_skillFP')
      span.skillCP-grid.center(name='attr_skillCP')
      select.skillexpertise-grid(name='attr_skillexpertise')
        option(value='--') --
        option(value='B') b
        option(value='ST') st
        option(value='0') 0
        option(value='1') 1
        option(value='2') 2
        option(value='3') 3
        option(value='4') 4
        option(value='5') 5
        option(value='6') 6
        option(value='7') 7
        option(value='8') 8
        option(value='9') 9
      input(name='attr_skilldisciplineexpertise' type='hidden')
      select.skillattribute-grid(name='attr_skillattribute')
        option(value='')  choose
        option(value='IQ') IQ
        option(value='DX') DX
        option(value='IQ+DX') IQ+DX
        option(value='BR') BR
      input.skillbase-grid(name='attr_skillbase' type='number' value='')
  .add-base-skills-section
    input.skill-count-control(name='attr_skillCount' type='hidden' value="")
    button.add-base-skills-button(name='act_popover_addBaseSkills' type='action')
      | Add Base Skills
    input.sectioncontrol(name='attr_chosenPopover' type='hidden' value='false')
    .section.addBaseSkills.popoverContainer
      .popoverBackdrop
        button(name='act_popover_addBaseSkills' type='action') Close popover
      .popover.fixedPlacementPopover
        button.closePopoverButton(name='act_popover_addBaseSkills' type='action') X
        h2 Add Base Skills
        p This will add skills to your skills tab.
        p Are you sure you want to fill in skills? (You can always delete them)
        button.approve-add-base-skills-button(name='act_addbaseskills' type='action') Yes, Please Add Base Skills


