@import '../colors.scss';
@import '../components/gridTable/gridTable.scss';

/* -------- Skills --------- */
.epic-skills-tab {
  $skill-grid-template: getResponsiveGridWidths(
    1fr, // Discipline?
    5fr, // Name
    1fr, // Ability
    0.5fr, // TP
    0.5fr, // CP
    1fr, // Exper
    2fr, // Attribute
    1fr // Base
  );
  @include epic-table-grid('skill', $skill-grid-template);

  .isdiscipline-grid[value="1"]~.skillname-grid {
    font-weight: bold;
  }

  .isdiscipline-grid[value="1"]~.skillability-grid,
  .isdiscipline-grid[value="1"]~.skillattribute-grid,
  .isdiscipline-grid[value="1"]~.skillbase-grid {
    opacity: 0;
    cursor: default;
    pointer-events: none;
  }

  @include grid-table-tp-cp-columns();
}
