button.new-race-option(name='act_create_user_pick_human_option' type='action')
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/human-female.jpg" alt="Human Female")
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/human-male.jpg" alt="Human Male")
  span Human
button.new-race-option(name='act_create_user_pick_elf_option' type='action')
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/elf-male.jpg" alt="Elf Male")
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/elf-female-2.jpg" alt="Elf Female")
  span Elf
button.new-race-option(name='act_create_user_pick_dwarf_option' type='action')
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/dwarf-male.jpg" alt="Dwarf Male")
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/dwarf-female.jpg" alt="Dwarf Female")
  span Dwarf
button.new-race-option(name='act_create_user_pick_gnome_option' type='action')
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/gnome-male.jpg" alt="Gnome Male")
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/gnome-female.jpg" alt="Gnome Female")
  span Gnome
button.new-race-option(name='act_create_user_pick_orc_option' type='action')
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/orc-female.jpg" alt="Orc Female")
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/orc-male-2.jpg" alt="Orc Male")
  span Orc
button.new-race-option(name='act_create_user_pick_minotaur_option' type='action')
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/minotaur-female.jpg" alt="Minotaur Female")
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/minotaur-male.jpg" alt="Minotaur Male")
  span Minotaur
button.new-race-option(name='act_create_user_pick_owlin_option' type='action')
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/owlin-male.jpg" alt="Owlin Male")
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/owlin-female.jpg" alt="Owlin Female")
  span Owlin
button.new-race-option(name='act_create_user_pick_dryad_option' type='action')
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/dryad-female.jpg" alt="Dryad Female")
  img(src="https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/newUser/images/dryad-male-2.jpg" alt="Dryad Male")
  span Dryad
button.new-race-option(name='act_create_user_pick_custom_option' type='action')
  span Custom
