@import '../components/gridTable/gridTable.scss';
@import './speedTooltip.scss';

/* -------- Equipment --------- */
.equipment-tab {
  .cash-and-equipment-summary {
    display: flex;
    gap: 16px;
  }

  $armor-grid-template: getResponsiveGridWidths(5fr, 1fr, 1fr, 1fr, 5fr);
  @include epic-table-grid('armor', $armor-grid-template);
  @include epic-table-grid-row-border('armor');

  $shield-grid-template: getResponsiveGridWidths(5fr, 1fr, 1fr, 1fr, 1fr, 5fr);
  @include epic-table-grid('shield', $shield-grid-template);
  @include epic-table-grid-row-border('shield');

  $weapon-grid-template: getResponsiveGridWidths(
    5fr, // Weapon Name
    72px, // Damage
    56px, // Range
    48px, // Defense
    56px, // Count
    56px, // Weight
    64px, // Value
    5fr, // Notes
  );
  @include epic-table-grid('weapon', $weapon-grid-template);
  @include epic-table-grid-row-border('weapon');

  $item-grid-template: getResponsiveGridWidths(5fr, 1fr, 1fr, 1fr, 5fr);
  @include epic-table-grid('item', $item-grid-template);
  @include epic-table-grid-row-border('item');
}
