@import '../components/gridTable/gridTable.scss';

/* --------- Advantages ------------ */
.basic-tab {
  .advantages {
    $advantage-grid-template: getResponsiveGridWidths(3fr, 1fr, 1fr);
    @include epic-table-grid('advantage', $advantage-grid-template);
    @include epic-table-grid('extraadvantage', $advantage-grid-template);

    .advantage-grid, .extraadvantagename-grid {
      text-align: right !important;
      font-weight: bold;
    }

    .count-placeholder-grid {
      height: 100%;
      width: 100%;
    }

    @include grid-table-tp-cp-columns();
  }

  .feats {
    $feat-grid-template: getResponsiveGridWidths(0.5fr, 3fr, 1fr);
    @include epic-table-grid('feat', $feat-grid-template);
    @include grid-table-tp-cp-columns();
  }
}
