@import '../components/gridTable/gridTable.scss';

/* --------- Basic Tab ------------ */
.basic-tab {
  .advantages-and-feats {
    display: flex;
    gap: 16px;
  }
  .character-attributes {
    $character-attributes-grid-template: getResponsiveGridWidths(64px, 96px);
    @include epic-table-grid('character-attributes', $character-attributes-grid-template);
    @include epic-table-grid-row-border('character-attributes');

    .character-attributes-table {
      .character-attributes-name-grid {
        text-align: right;
        font-weight: bold;
        margin-right: 8px;
      }
      input.character-attributes-value-grid {
        text-align: center !important;
      }
    }
  }

  .advantages {
    $advantage-grid-template: getResponsiveGridWidths(160px, 48px, 32px);
    @include epic-table-grid('advantage', $advantage-grid-template);
    @include epic-table-grid-row-border('advantage');
    @include epic-table-grid('extraadvantage', $advantage-grid-template);
    @include epic-table-grid-row-border('extraadvantage');

    .advantage-grid, .extraadvantagename-grid {
      text-align: right !important;
      font-weight: bold;
      margin-right: 8px !important;
    }

    .count-placeholder-grid {
      height: 100%;
      width: 100%;
    }

    @include grid-table-tp-cp-columns();
  }

  .feats {
    $feat-grid-template: getResponsiveGridWidths(32px, 160px, 48px);
    @include epic-table-grid('feat', $feat-grid-template);
    @include epic-table-grid-row-border('feat');

    input.featname-grid {
      text-align: right !important;
    }

    @include grid-table-tp-cp-columns();
  }
}
