/* ----------- Tabs and what they control  ------------- */

/* Tabs */
.dialog.characterviewer .nav-tabs>li:not(.active)>a {
  @include theme-color(unselected-tab-color);
  @include theme-background-color(unselected-tab-background-color);
  text-decoration: none;
  cursor: pointer;
}

.dialog.characterviewer .nav-tabs>li:not(.active)>a:hover,
.dialog.characterviewer .nav-tabs>li:not(.active)>a:focus {
  @include theme-color(primary-color);
  @include theme-background-color(unselected-tab-background-color);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.dialog.characterviewer .nav-tabs>.active>a {
  font-weight: bold;
  text-decoration: none;
  @include theme-color(selected-tab-color);
  @include theme-background-color(selected-tab-background-color);
  &:hover {
    @include theme-background-color(selected-tab-background-color);
  }
}

.tab-holder {
  margin-bottom: -1px;
}

.tab {
  border: 1px solid #999;
  @include theme-color(unselected-tab-color);
  @include theme-background-color(unselected-tab-background-color);
  padding: 4px 4px;
  border-radius: 4px 4px 0 0;
  font-size: 110%
}

.tabcontrol[value="overview"]~.tab[name="act_overview"],
.tabcontrol[value="basic"]~.tab[name="act_basic"],
.tabcontrol[value="equipment"]~.tab[name="act_equipment"],
.tabcontrol[value="skills"]~.tab[name="act_skills"],
.tabcontrol[value="spells"]~.tab[name="act_spells"],
.tabcontrol[value="notes"]~.tab[name="act_notes"] {
  font-weight: bold;
  text-decoration: none;
  @include theme-color(selected-tab-color);
  @include theme-background-color(selected-tab-background-color);
  border-bottom: 1px solid transparent;
}
