// Each tabbed section 
//
  This input's value names the currently selected tab.
  its value is used for css selection of its siblings.
input.sectioncontrol(name='attr_chosentab' type='hidden' value='basic')
