@mixin action-button {
  font-weight: bold;
  outline: 1px solid #666;
  border: none;
  border-radius: 4px;
}

@mixin hovered-button() {
  &:hover {
    // Remove Roll20 default styles
    background-image: unset;
    @include theme-background(button-roll-hover-color);
  }
}

@mixin roll-action-button {
  @include action-button;
  @include theme-background(button-roll-left-right-gradient);
  @include hovered-button();
}

/* Change the character for dice roll buttons to be
   the two joined squares character and add styles */
button.btn.ui-draggable[type=roll],
button.actionRollButton {
  @include roll-action-button;
}

button.btn.ui-draggable[type=roll]::before,
button.actionRollButton::before {
  font-family: sans-serif;
  content: "⧉";
}

@mixin update-action-button {
  @include action-button;
  // Replace with `main` branch once this is merged
  background-image: url(https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/images/actionButton.svg);
  width: 20px;
  height: 20px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  &:hover {
    // Remove Roll20 default styles
    opacity: 0.9;
  }
}

@mixin updateRollSectionButton {
  padding: 0px 2px;
  box-sizing: border-box;
  margin: auto 2px;
  height: 20px;
  font-size: 1em;
  padding-top: 2px;
  @include update-action-button();
}

/* Change the character for the do and roll dice button to be
   a big heavy two joined squares character */
button.do-and-roll::before {
  font-family: sans-serif;
  content: "⧉";
  font-size: 200%;
  font-weight: bold;
}

button.do-and-roll {
  @include roll-action-button;
}

button.big-control.do-and-roll {
  width: 20px;
}

.disable-do-and-roll[value="1"]~.do-and-roll {
  background-image: linear-gradient(90deg, #ddd, #ddd);
  pointer-events: none;
  @include hovered-button();
}


/* Change the character for undo buttons to be
   the play backward character */
button.undo::before {
  font-family: sans-serif;
  content: "◀";
}

@mixin undo-action-button {
  @include action-button;
  @include theme-background(button-undo-roll-left-right-gradient);
  line-height: 1;
  padding: 1px 1px;
  @include hovered-button();
}

button.undo {
  @include undo-action-button;
}

button.reset-total {
  @include action-button;
  @include theme-background(button-roll-left-right-gradient);
  line-height: 1;
  padding: 2px;
  vertical-align: middle;
  @include hovered-button();
}
