span.epic-fp-and-cp.bold
  span Available:
  span.FP.bold FP
  input(name='attr_remaining_fp' type='hidden' value='0')
  span.FP(name='attr_remaining_fp')
  span &nbsp;
  span.CP.bold CP
  input(name='attr_remaining_cp' type='hidden' value='0')
  span.CP(name='attr_remaining_cp')
