include ../global/advantages.pug

// Overview section 
.overview.section.overview-tab
  .tables-container
    .advantages-and-feats
      // Advantages 
      .advantage-overview.no-add-or-modify-buttons
        .advantage.epic-table-header-grid
          div Advantage / Disadvantage
        each advantage in advantages
          .advantage-table(data-epic-table-name="advantage")
            .conditional-something
              // This input is used by CSS to hide advantage-row
              input.advantageField(name=advantage.fieldName type='hidden')
              .advantage-row
                div.advantage-name=advantage.description
                span.advantage-value(name=advantage.fieldName)
        fieldset.repeating_extraadvantage
          span.extraadvantagename.extraadvantage-row(name='attr_extraadvantagename')
      // Feats 
      .feat-overview.no-add-or-modify-buttons
        .feat.epic-table-header-grid
          .featextraordinaryletter Extr
          .featname Epic Feat
        fieldset.repeating_feat
          span.featextraordinaryletter.feat-row(name='attr_featextraordinaryletter')
          span.featname.feat-row(name='attr_featname')
          button.skill-roll.addRollSectionFeat(name='act_addrollsectionfeat' type='action') &#8679;
    // Skills 
    .skills-overview.no-add-or-modify-buttons
      .skills-table.epic-table-header-grid
        .skillname Skill
        .skillability Ability
        .skillbase Mod
      .general-dice-rolls(data-epic-table-name="general-dice-rolls")
        span.diceRollName IQ
        span.ability(name='attr_IQ')
        span.mod
          input(name='attr_IQModifier' type='number' value='0')
        button.actionRollButton.epRoll_roll_modifier(name='act_epRoll_IQmodifier' type='action')
      .general-dice-rolls(data-epic-table-name="general-dice-rolls")
        span.diceRollName DX
        span.ability(name='attr_DX')
        span.mod
          input(name='attr_DXmodifier' type='number' value='0')
        button.actionRollButton.epRoll_roll_modifier(name='act_epRoll_DXmodifier' type='action')
      .general-dice-rolls(data-epic-table-name="general-dice-rolls")
        span.diceRollName BR
        span.ability(name='attr_BR')
        span.mod
          input(name='attr_BRmodifier' type='number' value='0')
        button.actionRollButton.epRoll_roll_modifier(name='act_epRoll_BRmodifier' type='action')
      .general-dice-rolls(data-epic-table-name="general-dice-rolls")
        span.diceRollName Roll
        span.ability &nbsp;
        span.mod &nbsp;
        button.actionRollButton.epRoll(name='act_epRoll' type='action')
      .general-dice-rolls(data-epic-table-name="general-dice-rolls")
        span.diceRollName Roll + Mod
        span.ability &nbsp;
        span.mod
          input(name='attr_roll_modifier' type='number' value='0')
        button.actionRollButton.epRoll_roll_modifier(name='act_epRoll_roll_modifier' type='action')
      fieldset.repeating_skill
        // This input is used by CSS to hide disciplines
        input.isdiscipline(name='attr_skillisdiscipline' type='hidden')
        .skill-overview-row-container(data-epic-table-name="skills-table")
          span.skillname(name='attr_skillname')
          span.skillability(name='attr_skillability')
          input.skillbase(name='attr_skillmodifier' type='number')
          button.skill-roll.updateRollSectionContent(name='act_updaterollsectioncontent' type='action') &#8679;
    // Weapons 
    .weapons-overview.no-add-or-modify-buttons
      .weapons-table.epic-table-header-grid
        .equipmentname Weapon
        .equipmentcount Count
        .equipmentdamage Damage
        .equipmentrange Range
      fieldset.repeating_weapon
        .weapons-table-row
          .weapons-overview-row-container(data-epic-table-name="weapons-table")
            span.equipmentname(name='attr_weaponname')
            input.equipmentcount(name='attr_weaponcount' type='number' value='1')
            span.equipmentdamage(name='attr_weapondamage')
            span.equipmentrange(name='attr_weaponrange')
          // This input is used by CSS to hide weaponnotes
          input.attr_weaponnotes(name='attr_weaponnotes' type='hidden')
          .weapons-overview-row-notes-container(data-epic-table-name="weapons-equipmentnotes-table")
            span.equipmentnotes(name='attr_weaponnotes')
