include ../global/advantages.pug

// Overview section 
.overview.section.overview-tab
  .horizontal-flex
    // Advantages 
    .advantage-overview.no-add-or-modify-buttons
      .advantage.epic-table-header-grid
        div Advantage / Disadvantage
      each advantage in advantages
        .advantage-table(data-epic-table-name="advantage")
          .conditional-something
            input(name=advantage.fieldName type='hidden')
            .advantage-row
              div.advantage-name=advantage.description
              span.advantage-value(name=advantage.fieldName)
      fieldset.repeating_extraadvantage
        span.extraadvantagename.extraadvantage-row(name='attr_extraadvantagename')
    // Feats 
    .feat-overview.no-add-or-modify-buttons
      .feat.epic-table-header-grid
        .featextraordinaryletter Extr
        .featname Epic Feat
      fieldset.repeating_feat
        span.featextraordinaryletter.feat-row(name='attr_featextraordinaryletter')
        span.featname.feat-row(name='attr_featname')
    // Skills 
    .skills-overview.no-add-or-modify-buttons.flex-stack
      .skills-table.epic-table-header-grid
        .skillname Skill
        .skillability Ability
        .skillbase Mod
      fieldset.repeating_skill
        // This input is used by CSS to hide disciplines
        input.isdiscipline(name='attr_skillisdiscipline' type='hidden')
        .skill-overview-row-container(data-epic-table-name="skills-table")
          span.skillname(name='attr_skillname')
          span.skillability(name='attr_skillability')
          input.skillbase(name='attr_skillmodifier' type='number')
          //
            These hidden inputs are necessary for the roll to find
            skillability and skillname
          input(name='attr_skillability' type='hidden')
          input(name='attr_skillname' type='hidden')
          button.skill-roll(name='roll_skillroll' type='roll' value='!EPRoll @{skillability}+@{skillmodifier} Tries @{skillname}: @{skillability} + @{skillmodifier}')
    // Weapons 
    .weapons-overview.no-add-or-modify-buttons.flex-stack
      .table-header
        .equipmentname Weapon
        .equipmentcount Count
        .equipmentdamage Damage
        .equipmentrange Range
      fieldset.repeating_weapon
        .weapons-overview-row-container
          span.equipmentname(name='attr_weaponname')
          input.equipmentcount(name='attr_weaponcount' type='number' value='1')
          span.equipmentdamage(name='attr_weapondamage')
          span.equipmentrange(name='attr_weaponrange')
        span.equipmentnotes(name='attr_weaponnotes')
