/* ---------- Overview tab ------------- */

.advantage-overview {
  display: flex;
  flex-direction: column;
}

.advantage-overview>div.table-header>div {
  text-align: center
}

.advantage-overview>div.conditional-something>div,
.advantage-overview>div[data-groupname]>div {
  border: solid $border-underline-color;
  border-width: 0px 0px 1px 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.advantage-overview>.conditional-something> :first-child[value="-1"]~* {
  color: red;
}

/* If the name wraps, make the lines close. */
.advantage-overview>div>div,
.advantage-overview span {
  line-height: 1;
  width: 120px;
  text-align: left
}

/* Keep line height low for the containers of the names,
   or they will make single lines too tall. */
.advantage-overview>div.conditional-something {
  line-height: 1;
}

/* ------------ Weapons Overview -------------- */
.weapons-overview {
  .table-header {
    display: flex;
    flex-direction: row;
    div {
      text-align: center;
    }
  }

  .weapons-overview-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  div[data-groupname] .equipmentname {
    text-align: right;
  }

  .table-header, div[data-groupname] {
    span {
      display: inline-block;
    }

    >div {
      border-width: 0px 0px 1px 0px;
      border-color: $border-underline-color;
      border-style: solid;
      margin-bottom: 2px;
    }

    .equipmentname {
      line-height: 1;
      padding-top: 2px;
      padding-bottom: 2px;
      margin-right: 4px;
      flex: 0 0 100px;
      width: 100px;
    }

    .equipmentdamage {
      width: 60px;
      text-align: center
    }

    .equipmentrange {
      width: 50px;
      text-align: center;
    }

    .equipmentnotes {
      margin-left: 90px;
      margin-bottom: 2px;
      width: 150px;
      line-height: 1;
      flex: 1 1;
    }
  }
}

/* ------------ Skills Overview -------------- */
.skills-overview {
  .table-header {
    display: flex;
    flex-direction: row;
    div {
      text-align: center;
    }
  }

  .skill-overview-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 0px 0px 1px 0px;
    border-color: $border-underline-color;
    border-style: solid;
  }

  .isdiscipline[value="1"]~* {
    display: none;
  }

  div[data-groupname] .skillname {
    text-align: right;
    margin-right: 4px;
  }

  div[data-groupname] .skillability {
    margin-left: -4px;
    margin-right: -4px;
  }


  .table-header, div[data-groupname] {
    span {
      display: inline-block;
    }

    >div {
      margin-bottom: 2px;
    }

    .skillname {
      line-height: 1;
      padding-top: 2px;
      padding-bottom: 2px;
      flex: 0 0 100px;
      width: 100px;
    }

    .skillability {
      font-weight: normal;
      border-color: transparent;
      width: 40px;
      text-align: center;
    }

    .skillbase.skillbase {
      width: 40px;
    }

    .skill-roll.skill-roll {
      padding: 0px 2px;
      width: 24px;
      box-sizing: border-box;
      margin-left: 3px;
      margin-right: 3px;
    }
  }
}