// Notes section 
.notes.section
  .flex-stack
    .table-header
      .notecategory Category
      .notenote Note
    fieldset.repeating_note
      input.notecategory(name='attr_notecategory' type='text')
      input.notenote(name='attr_notenote' type='text')
