-
  var advantages = [
    {
      description: 'Healthy',
      fieldName: 'attr_advantage_healthy_count',
      cpFieldName: 'attr_advantage_healthy_CPdescription',
    }, {
      description: 'Pack Mule',
      fieldName: 'attr_advantage_packmule_count',
      cpFieldName: 'attr_advantage_packmule_CPdescription',
    }, {
      description: 'Strong Arms',
      fieldName: 'attr_advantage_strongarms_count',
      cpFieldName: 'attr_advantage_strongarms_CPdescription',
    }, {
      description: 'Brute',
      fieldName: 'attr_advantage_brute_count',
      cpFieldName: 'attr_advantage_brute_CPdescription',
    }, {
      description: 'Fast',
      fieldName: 'attr_advantage_fast_count',
      cpFieldName: 'attr_advantage_fast_CPdescription',
    }, {
      description: 'Natural Athlete',
      fieldName: 'attr_advantage_athlete_count',
      cpFieldName: 'attr_advantage_athlete_CPdescription',
    }, {
      description: 'Alert',
      fieldName: 'attr_advantage_alert_count',
      cpFieldName: 'attr_advantage_alert_CPdescription',
    }, {
      description: 'Wary',
      fieldName: 'attr_advantage_wary_count',
      cpFieldName: 'attr_advantage_wary_CPdescription',
    }, {
      description: 'Attractive',
      fieldName: 'attr_advantage_attractive_count',
      cpFieldName: 'attr_advantage_attractive_CPdescription',
    }, {
      description: 'Mage',
      fieldName: 'attr_advantage_mage_count',
      cpFieldName: 'attr_advantage_mage_CPdescription',
      skillExpertiseOptions: [1],
      minusAdvantageFieldName: 'attr_advantage_mage_minus',
    }, {
      description: 'Devout',
      fieldName: 'attr_advantage_devout_count',
      cpFieldName: 'attr_advantage_devout_CPdescription',
      skillExpertiseOptions: [1],
      minusAdvantageFieldName: 'attr_advantage_devout_minus',
    },
  ]
