/* Generic styles */
@import '../colors.scss';

button, input, optgroup, select, textarea {
  @include theme-color(primary-color);
  @include theme-background-color(field-background-color);
}
.charsheet, .attributesabilities > * > *, .bioinfo > * > * {
  @include theme-color(primary-color);
  @include theme-background-color(primary-background-color);
  h1, h2, h3, h4, h5, h6 {
    @include theme-color(primary-color);
  }
}

.characterviewer .charsheet {
  padding: 0;
  .character-sheet-page {
    padding: 8px;
  }
}

.btn, .btn.btn-default {
  @include theme-mode {
    color: #c8c3bc;
    text-shadow: rgba(24,26,27,.75) 0px 1px 1px;
    background-color: #1e2021;
    background-image: linear-gradient(#181a1b, #26292b);
    border-color: #3e4446 #3e4446 #43494c;
    box-shadow: rgba(24,26,27,.2) 0px 1px 0px inset,rgba(0,0,0,.05) 0px 1px 2px
  }
}

.ui-dialog {
  @include theme-background-color(paper-color);
  background-size: cover;
  background-image: url(https://raw.githubusercontent.com/epic-power-rpg/roll20/main/ui/images/epic-power-game-image-overlay.png);
  .dialog, .largedialog {
    padding: 0 16px;
    padding-bottom: 16px;
  }
}

.inline {
  display: inline-block;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.middle {
  vertical-align: middle;
}

.narrow.narrow.narrow {
  width: 25px;
}

.modifier-width.modifier-width.modifier-width {
  width: 35px;
}

.narrowish.narrowish.narrowish {
  width: 40px;
}

.medium.medium.medium {
  width: 50px;
}

.wideish.wideish.wideish {
  width: 60px;
}

.wide.wide.wide.wide {
  width: 90px;
}

.narrow-spacing {
  line-height: 1;
}

.spacer {
  height: 16px;
}

.small-spacer {
  height: 8px;
}

.inlne-spacer {
  width: 8px;
}

.flexing {
  flex-grow: 1;
}

.no-shrink {
  flex-shrink: 0;
}

.big.big.big.big {
  font-size: 150%;
  font-weight: normal;
}

.biggish.biggish.biggish.biggish {
  font-size: 130%;
  font-weight: normal;
}

.larger.larger.larger.larger {
  font-size: 110%;
}

.CP.CP.CP.CP {
  @include theme-color(cp-color);
}

.FP.FP.FP.FP {
  @include theme-color(fp-color);
}

.bold {
  font-weight: bold;
}

.children-separated> :not(:first-child) {
  border: solid;
  @include theme-border-color(table-row-underline-color);
  border-width: 1px 0px 0px 0px;
}

.label {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

.value {
  display: inline-block;
  box-sizing: border-box;
}

.attribute-name {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

.attribute-value {
  font-size: 150%;
  vertical-align: middle;
  margin: 1px;
  border-width: 1px;
  padding: 0px;
  box-sizing: border-box;
}

/* Make the height override the box's usual height */
input.attribute-value.attribute-value.attribute-value {
  height: 24px;
}

span.attribute-value {
  /* Make the height work for span. */
  display: inline-block;
  border-color: transparent;
}

input[disabled],
input[readonly] {
  border-color: transparent;
  background-color: transparent;
  padding: 0px;
}

.flex-stack {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
}

.align-middle.align-middle.align-middle {
  align-items: middle;
}

.space-between {
  justify-content: space-between;
}

.text-stack {
  display: inline-block;
  vertical-align: middle;
}

.table-header>div {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border-color: black;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 2px;
}

.characterviewer textarea {
  box-sizing: border-box;
  height: 48px;
  overflow-y: auto;
  text-align: left;
}

.nav {
  margin-bottom: 0;
}
