// Defense 
.defense-block
  .defenses.epic-table-header-grid
    div
    div Melee
    div Range
  .defenses-table(data-epic-table-name="defenses")
    .table-label +bonus
    input.center.bold.larger(name='attr_melee_boost' type='number' value='0')
    input.center.bold.larger(name='attr_ranged_boost' type='number' value='0')
  .defenses-table(data-epic-table-name="defenses")
    .table-label.larger Dodge
    input(name='attr_dodge' type='hidden')
    span.center.bold.larger(name='attr_current_dodge_melee' value='0')
    span.center.bold.larger(name='attr_current_dodge_ranged' value='0')
  .defenses-table(data-epic-table-name="defenses")
    .table-label.larger Parry
    input.center.bold.larger(name='attr_current_parry_melee' type='number' value='0')
    span.center.bold.larger --
  .defenses-table(data-epic-table-name="defenses")
    .table-label.larger Block
    input(name='attr_block' type='hidden')
    span.center.bold.larger(name='attr_current_block_melee' value='0')
    span.center.bold.larger(name='attr_current_block_ranged' value='0')
