$cp-color: blue;
$tp-color: #267200;
$paper-color: #c4bdaf;
$paper-gradient-color: #c2945b80;
$button-roll-color-1: rgb(245, 201, 162);
$button-roll-color-2: #c2815b;
$button-undo-roll-color-1: #c2945b;
$button-undo-roll-color-2: rgb(138, 103, 103);
$primary-highlight-background-color: #b56632;
$primary-highlight-color: #fff;
$primary-background-color: lighten($primary-highlight-background-color, 50%);
$selected-tab-color: $primary-highlight-background-color;
$unselected-tab-color: $primary-background-color;
$border-underline-color: $primary-highlight-background-color;
