@use "sass:color";
@use "sass:map";

$themes: (
  light: (
    cp-color: blue,
    fp-color: #267200,
    paper-color: #c4bdaf,
    paper-gradient-color: linear-gradient(to top, #c2945b80 0%, transparent 100%),
    button-update-action-gradient: linear-gradient(90deg, #104b94, #5b98c2),
    button-roll-left-right-gradient: linear-gradient(90deg, rgb(245, 201, 162), #c2815b),
    button-roll-top-bottom-gradient: linear-gradient(180deg, rgb(245, 201, 162), #c2815b),
    button-undo-roll-left-right-gradient: linear-gradient(90deg, #c2945b, rgb(138, 103, 103)),
    button-roll-hover-color: #c2815b,
    primary-highlight-color: #fff,
    primary-highlight-background-color: #b56632,
    primary-color: #111,
    primary-background-color: #faf2ec,
    field-background-color: darken(#faf2ec, 10%),
    selected-tab-color: #fff,
    selected-tab-background-color: #b56632,
    unselected-tab-color: #111,
    unselected-tab-background-color: #eee,
    table-row-underline-color: color.scale(#b56632, $alpha: -30%),
  ),
  dark: (
    cp-color: rgb(145, 145, 246),
    fp-color: #c4fda8,
    paper-color: #c4bdaf,
    paper-gradient-color: linear-gradient(to top, #c2945b80 0%, transparent 100%),
    button-update-action-gradient: linear-gradient(90deg, #104b94, #5b98c2),
    button-roll-left-right-gradient: linear-gradient(90deg, #944d10, #c2815b),
    button-roll-top-bottom-gradient: linear-gradient(180deg, #944d10, #c2815b),
    button-undo-roll-left-right-gradient: linear-gradient(90deg, #c07519, rgb(138, 103, 103)),
    button-roll-hover-color: #c2815b,
    primary-highlight-color: #fff,
    primary-highlight-background-color: #b56632,
    primary-color: #fff,
    primary-background-color: #333,
    field-background-color: #222,
    selected-tab-color: #fff,
    selected-tab-background-color: #b56632,
    unselected-tab-color: #222,
    unselected-tab-background-color: color.scale(#b56632, $saturation: -80%, $lightness: 50%),
    table-row-underline-color: color.scale(#b56632, $alpha: -30%),
  ),
);

// Based on https://berbaquero.com/posts/2023/03/sass-dark-mode/
@mixin theme-mode {
  body.sheet-darkmode & {
    @content;
  }
}

@function epic-theme($mode, $color-name) {
  @return map-get(map-get($themes, $mode), $color-name);
}

@mixin theme-color($color-name) {
  color: epic-theme(light, $color-name);
  @include theme-mode {
    color: epic-theme(dark, $color-name);
  }
}

@mixin theme-background($color-name) {
  background: epic-theme(light, $color-name);
  @include theme-mode {
    background: epic-theme(dark, $color-name);
  }
}

@mixin theme-background-color($color-name) {
  background-color: epic-theme(light, $color-name);
  @include theme-mode {
    background-color: epic-theme(dark, $color-name);
  }
}

@mixin theme-border-color($color-name) {
  border-color: epic-theme(light, $color-name);
  @include theme-mode {
    border-color: epic-theme(dark, $color-name);
  }
}