include rollSection/rollSection.pug
= '\n'
include topSection/topSection.pug
= '\n'
include tabs/tabs.html
include overviewTab/overviewTab.pug
include basicTab/basicTab.pug
= '\n'
= '\n'
include epicSkills/epicSkills.html
include equipment/equipment.pug
= '\n'
include spells/spells.pug
// Scripts 
= '\n'
script(type="text/worker")
  = '\n'
  include scripts/inlineHtml/inlineScripts.js
= '\n'
