include rollSection/rollSection.html
= '\n'
include topSection/topSection.html
= '\n'
include tabs/tabs.html
= '\n'
include overviewTab/overviewTab.html
= '\n'
include basicTab/basicTab.html
= '\n'
include epicSkills/epicSkills.html
= '\n'
include equipment/equipment.html
= '\n'
include spells/spells.html
// Scripts 
= '\n'
script(type="text/worker")
  = '\n'
  include scripts/inlineHtml/inlineScripts.js
= '\n'
