button.popoverButton {
  background: transparent;
  line-height: unset;
  margin: 0;
  padding: 0 6px !important;
  border: none;
  &.circledButton {
    border: 1px solid gray;
    border-radius: 100%;
    background-color: #66666633;
  }
  &.smallerPopoverButton {
    padding: 0 4px !important;
  }
  &.noPaddingButton {
    padding: 0 !important;
  }
}

$popover-zIndex: 100;

div.popoverContainer {
  display: none;
  position: relative;
  .popoverBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000040;
    z-index: $popover-zIndex - 1;
    cursor: pointer;
    button {
      /**
       * Unfortunately, the Roll20/jquery setup fails if the button is styled as the popoverBackdrop.
       * This needs to be a button with a parent, otherwise, we see errors like:
       * ```
       * vtt.bundle.js:formatted:556749 Uncaught TypeError: Cannot read properties of null (reading 'dataset')
       *   at HTMLButtonElement.<anonymous> (vtt.bundle.js:formatted:556749:45)
       *   at HTMLBodyElement.dispatch (jquery-1.9.1.js:3074:9)
       *   at elemData.handle (jquery-1.9.1.js:2750:28)
       * ```
       */
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
  > .popover {
    position: absolute;
    top: 24px;
    left: -40px;
    max-width: unset;
    background: $primary-background-color;
    padding: 16px;
    border: 1px solid black;
    border-radius: 6px;
    z-index: $popover-zIndex;
    .closePopoverButton {
      position: absolute;
      right: 4px;
      top: 4px;
      border: unset;
      background: unset;
    }
  }
  > .fixedPlacementPopover {
    position: fixed;
    top: 30vh;
    left: 20vw;
    right: 20vw;
  }
}

@mixin popover-control($popoverName) {
  .sectioncontrol[value="#{$popoverName}"]~div.popoverContainer.#{$popoverName},
  input.popoverController[value="1"]~div.popoverContainer.#{$popoverName} {
    display: inline;
    .popover {
      display: block;
    }
  }
}
